/*=== Global Page Template Fixes ===*/
.cust-inner-wrapper .container .row > div {
  width: 100%; }

@media (max-width: 767px) {
  .breadcrumb li {
    width: 100%;
    margin: 5px 0;
    font-size: 1.25rem; }
    .breadcrumb li::before {
      content: unset !important; } }

.pagination-account {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset !important; }

.pagination-bar-results {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  font-weight: 800;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE; }

.pagination-bar {
  margin: 0 auto;
  max-width: 700px; }

.cust-sortby {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .cust-sortby > div {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 2%;
    margin-bottom: 2rem; }
    .cust-sortby > div:nth-child(1) {
      order: 1; }
    .cust-sortby > div:nth-child(2) {
      order: 2; }
    .cust-sortby > div:nth-child(3) {
      order: 3; }
  @media (min-width: 320px) {
    .cust-sortby > div {
      width: 100%; } }
  @media (min-width: 767px) {
    .cust-sortby > .form-group {
      width: 46%; } }

.sort-refine-bar {
  display: unset !important;
  flex-direction: unset !important;
  padding-left: unset !important; }
  .sort-refine-bar .form-group {
    flex: unset !important;
    display: unset !important;
    flex-direction: unset !important; }

/*=== My Account | Samios Favourites Patch CSS ===*/
#samBody .my-favourites-container .cust-wishlist {
  align-items: unset !important; }

/*=== My Account | Favourites Patch CSS ===*/
.my-favourites-container #createWish .control,
.my-favourites-container #changeWish .control {
  margin: 0 auto;
  width: 100%;
  max-width: 97%; }

.my-favourites-container .newDefaultwishlistName {
  margin-right: unset; }

.my-favourites-container button[disabled] {
  cursor: not-allowed;
  opacity: 0.75;
  color: #222 !important;
  background-color: #EEE; }

.my-favourites-container .grid-add-basket input {
  min-width: max-content !important;
  max-width: max-content !important; }

.my-favourites-container .ui-sortable-helper {
  border: 1px dashed #C00;
  background-color: #FFF; }

.my-favourites-container .delete-fav-button {
  text-decoration: none !important;
  color: #C00 !important;
  font-size: 1rem;
  font-weight: bold !important; }
  .my-favourites-container .delete-fav-button:hover {
    text-decoration: inherit !important; }

.my-favourites-container .select-fav-list-loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5 rem;
  background-color: #FFF;
  z-index: 1000; }
  .my-favourites-container .select-fav-list-loading-screen p {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; }
    .my-favourites-container .select-fav-list-loading-screen p span {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }

@media (min-width: 1025px) {
  .my-favourites-container #listSelect .table-body {
    position: relative;
    max-height: 700px;
    overflow: hidden;
    overflow-y: scroll; }
    .my-favourites-container #listSelect .table-body::-webkit-scrollbar {
      width: 5px; }
    .my-favourites-container #listSelect .table-body::-webkit-scrollbar-thumb {
      background: #C00; } }

.my-favourites-container #listSelect .fav-list-search-filter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.my-favourites-container #listSelect .grid-remove-button button svg {
  display: block;
  margin: 0 auto; }

.my-favourites-container .table-body .list__Header {
  border-bottom: 1px solid #EEE;
  box-shadow: 0 4px 2px -2px #EEE;
  background-color: #FFF !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.my-favourites-container .table-body .move-to-list {
  display: none; }

@media (max-width: 1024px) {
  .my-favourites-container .fav-grid-container .listProdDetails {
    padding: 1.5rem; } }

@media (max-width: 767px) {
  .my-favourites-container .cust-wishlist {
    margin-left: unset !important;
    margin-right: unset !important;
    padding: 0 0.85rem; }
  .my-favourites-container .my-fav-pricing .grid-add-basket {
    flex-wrap: wrap; }
    .my-favourites-container .my-fav-pricing .grid-add-basket input[type="number"],
    .my-favourites-container .my-fav-pricing .grid-add-basket button {
      flex: 1 0 auto;
      width: 100%;
      margin-bottom: 15px; } }

@media (max-width: 1399px) {
  .manage-my-favourites-container .fav-prodname-pricing .fav-prodImage {
    width: 20%; }
  .manage-my-favourites-container .fav-prodname-pricing .fav-prodData {
    width: 80%; }
  .manage-my-favourites-container .fav-prodname-pricing .cust-wishlist {
    width: 100%; } }

@media (max-width: 767px) {
  .manage-my-favourites-container #listSelect #destWishlistName {
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
    display: block; } }

/*=== My Account | Invoice Patch CSS ===*/
.module-search-split .module-search-split-left form .form-group {
  min-width: max-content;
  max-width: max-content; }

.viewpay-invoices-container .module-search #searchInvoices {
  display: none; }

/*=== My Account | Historical Invoice Patch CSS ===*/
.historical-invoices-container .module-half {
  max-width: 100% !important; }
  @media (min-width: 767px) {
    .historical-invoices-container .module-half {
      max-width: 650px !important; } }
  .historical-invoices-container .module-half input[type="text"] {
    width: 100%; }

/*=== Colouring Competition CSS Styles ===*/
#cnwBody .coloring-competition {
  --baseColorComp: #C00; }
  #cnwBody .coloring-competition .coloring-sub-header span {
    color: var(--baseColorComp); }
  #cnwBody .coloring-competition .entries-close-content {
    background: url("https://shop.cnw.com.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aDcwL2gxMS85Njc2MzA3MTY5MzEwL2VudHJpZXMtY2xvc2UucG5nfGExYmRkMzYxOGMyZmNlMzQ3ZDc5MmY1MjExOTdkNTUwZGIzMDY3YWY3YmIwNWYwNTljNmYwODU1ZjU4MWRkY2E") no-repeat center; }

#samBody .coloring-competition {
  --baseColorComp: #EE2E34; }
  #samBody .coloring-competition .coloring-sub-header span {
    color: var(--baseColorComp); }
  #samBody .coloring-competition .entries-close-content {
    background: url("https://shop.samios.net.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aGY2L2gwYS85Njc2MzA3MzMzMTUwL2VudHJpZXMtY2xvc2UucG5nfDk1YzE3ZDc3MDQwOGU2OWRhNzNkNTNiYmNhOGQ1NzNhZTI0MmZiN2VkOTU3MGVkMzgxNTA4ZDc1OGZkNTNmYzc") no-repeat center; }

#sheBody .coloring-competition {
  --baseColorComp: #FED104; }

#sheBody .entries-close-content {
  background: url("https://shop.sherriff.com.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aDM5L2gwNC85Njc2MzA3NTI5NzU4L2VudHJpZXMtY2xvc2UucG5nfGNkOGYyMmM1ZjI4M2RlYzc4OTdmZTQyMmNkZDg1NzRlODZhMmFkYjBjOGIwNjhiMjMzYTZmMTQ0YmFiZjZhMWQ") no-repeat center; }

.coloring-competition {
  --ccblue: #34568B;
  --cccoral: #FF6F61;
  --ccviolet: #6B5B95;
  --ccgreenery: #88B04B;
  --ccaqua: #7FCDCD;
  --ccbuttercream: #EFE1CE;
  --ccgold: #D4AF37;
  --ccsilver: #D3D3D3;
  --ccbronze: #CD7F32;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 10rem; }
  .coloring-competition sup {
    font-size: 14px;
    position: relative;
    top: -10px;
    margin: 0 2px; }
  .coloring-competition li {
    list-style: none;
    list-style-type: none;
    line-height: 30px;
    margin-bottom: 15px; }
  .coloring-competition a {
    color: #C00;
    text-decoration: none; }
    .coloring-competition a:hover {
      text-decoration: inherit; }
  .coloring-competition .text-red {
    text-align: center;
    color: var(--baseColorComp); }
  @media (min-width: 767px) {
    .coloring-competition {
      padding: 5rem;
      max-width: 1300px;
      padding-bottom: 10rem; } }
  .coloring-competition .coloring-left,
  .coloring-competition .coloring-right,
  .coloring-competition .coloring-bottom {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    margin: 1.25rem 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    .coloring-competition .coloring-left > div,
    .coloring-competition .coloring-right > div,
    .coloring-competition .coloring-bottom > div {
      padding: 1.25rem;
      margin: 1.25rem 0;
      position: relative;
      top: 0;
      -webkit-transition: 0.8s ease;
      transition: 0.8s ease; }
    @media (min-width: 1025px) {
      .coloring-competition .coloring-left > div:hover,
      .coloring-competition .coloring-right > div:hover,
      .coloring-competition .coloring-bottom > div:hover {
        top: -1rem; } }
  @media (min-width: 1023px) {
    .coloring-competition .coloring-left,
    .coloring-competition .coloring-right {
      width: 48%;
      margin: 1%; } }
  .coloring-competition .coloring-left {
    order: 1; }
  .coloring-competition .coloring-right {
    order: 2; }
  .coloring-competition .coloring-bottom {
    order: 3; }
  .coloring-competition .coloring-logo img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center; }
  .coloring-competition .coloring-table {
    padding: 0;
    border: 40px; }
  .coloring-competition .coloring-table-row {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE; }
    .coloring-competition .coloring-table-row:nth-child(1) {
      background-color: var(--baseColorComp) !important; }
      .coloring-competition .coloring-table-row:nth-child(1) span {
        color: #FFF; }
    .coloring-competition .coloring-table-row:nth-of-type(even) {
      background-color: #EEE; }
    .coloring-competition .coloring-table-row span {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      padding: 5px;
      border-bottom: 1px solid #CCC; }
    @media (min-width: 640px) {
      .coloring-competition .coloring-table-row span {
        width: 50%; } }
  .coloring-competition .coloring-sub-header span {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase; }
  .coloring-competition .coloring-enter,
  .coloring-competition .coloring-prize-details,
  .coloring-competition .coloring-prizes,
  .coloring-competition .coloring-age-groups,
  .coloring-competition .coloring-major-prize-draw {
    border: 1px solid #CCC;
    border-radius: 1rem;
    box-shadow: 0 0 20px #EEE; }
  .coloring-competition .coloring-enter,
  .coloring-competition .coloring-prizes,
  .coloring-competition .coloring-major-prize-draw {
    background-color: rgba(239, 225, 206, 0.2); }
  .coloring-competition .coloring-prizes p {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase; }
  .coloring-competition .coloring-prizes img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center; }
  .coloring-competition .coloring-prizes li {
    text-align: center; }
    .coloring-competition .coloring-prizes li:nth-child(1) span:nth-child(1) {
      background-color: var(--ccgold); }
    .coloring-competition .coloring-prizes li:nth-child(2) span:nth-child(1) {
      background-color: var(--ccsilver); }
    .coloring-competition .coloring-prizes li:nth-child(3) span:nth-child(1) {
      background-color: var(--ccbronze); }
    .coloring-competition .coloring-prizes li span {
      display: inline-block;
      text-align: center;
      margin-bottom: 5px; }
      .coloring-competition .coloring-prizes li span:nth-of-type(odd) {
        font-size: 1.8rem;
        border-radius: 40px;
        padding: 10px 20px; }
      .coloring-competition .coloring-prizes li span:nth-of-type(even) {
        font-size: 1.35rem; }
  .coloring-competition .coloring-bottom ul {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around; }
    .coloring-competition .coloring-bottom ul li {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      margin: 20px 0;
      text-align: center;
      padding: 10px 0;
      border-radius: 40px;
      color: #FFF;
      box-shadow: 0 0 10px #CCC; }
      .coloring-competition .coloring-bottom ul li:nth-child(1) {
        background-image: linear-gradient(45deg, var(--ccblue), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(2) {
        background-image: linear-gradient(45deg, var(--cccoral), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(3) {
        background-image: linear-gradient(45deg, var(--ccviolet), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(4) {
        background-image: linear-gradient(45deg, var(--ccgreenery), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(5) {
        background-image: linear-gradient(45deg, var(--ccaqua), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li span {
        display: inline-block;
        width: 100%; }
        .coloring-competition .coloring-bottom ul li span:nth-of-type(1) {
          font-size: 30px; }
    @media (min-width: 1024px) {
      .coloring-competition .coloring-bottom ul li {
        width: 18%;
        margin: 1%; } }
  .coloring-competition .coloring-major-prize-draw p {
    text-align: center; }
  .coloring-competition .coloring-major-prize-draw .coloring-button {
    text-align: center;
    margin: 1.35rem 0; }
    .coloring-competition .coloring-major-prize-draw .coloring-button a {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 40px;
      color: #FFF;
      background-color: var(--baseColorComp); }
      .coloring-competition .coloring-major-prize-draw .coloring-button a:hover {
        color: #FFF;
        background-color: #222; }
  .coloring-competition .coloring-major-prize-draw .entries-close-content {
    width: 260px;
    height: 200px;
    padding-top: 3rem;
    position: absolute;
    bottom: -65%;
    right: 0;
    color: #FFF;
    background-size: contain !important;
    z-index: 100; }
    .coloring-competition .coloring-major-prize-draw .entries-close-content p {
      font-size: 70%;
      position: relative;
      line-height: 2.25rem; }
      .coloring-competition .coloring-major-prize-draw .entries-close-content p:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        max-width: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      .coloring-competition .coloring-major-prize-draw .entries-close-content p:nth-child(1)::before {
        border-top: 2px dashed #FFF; }
      .coloring-competition .coloring-major-prize-draw .entries-close-content p:nth-child(3)::before {
        border-bottom: 2px dashed #FFF; }
  @media (min-width: 1200px) {
    .coloring-competition .coloring-major-prize-draw .entries-close-content {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }

/*=== Product Grid | Search Page ===*/
.cust-plp-grid {
  flex-direction: unset !important;
  flex: unset !important; }
  .cust-plp-grid .plp-grid-left,
  .cust-plp-grid .plp-grid-right {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  @media (min-width: 767px) {
    .cust-plp-grid .plp-grid-left {
      width: 25%; }
    .cust-plp-grid .plp-grid-right {
      width: 75%; } }

@media (max-width: 767px) {
  .cust-plp-grid {
    padding: 10px; } }

/*=== Product Facets | Refinement | Global Styles ===*/
#sheBody .pdppage .shop-by-button::after,
#sheBody .pdppage span.facet_link::after {
  line-height: 3rem; }

#samBody .pdppage .shop-by-button::after,
#samBody .pdppage span.facet_link::after {
  line-height: 3.5rem; }

.pdppage .product__facet .facet {
  border-bottom: unset !important; }

.pdppage .product__facet .facet__name {
  font-size: 18px;
  text-transform: capitalize;
  color: #444;
  margin: 1px;
  background-color: #F2F3F4 !important;
  position: relative;
  z-index: 1; }

.pdppage .product__facet .shop-by-button {
  user-select: none;
  cursor: pointer;
  outline: none;
  border: 0;
  display: inline-block;
  padding: 0.8rem 1rem;
  color: #FFFFFF;
  background-color: #0099FF;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1; }
  .pdppage .product__facet .shop-by-button::after {
    content: '\002B';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 2.6rem;
    font-size: 1.5rem;
    padding: 0 0.85rem;
    z-index: -1; }
  .pdppage .product__facet .shop-by-button:hover {
    background-color: #222222; }

@media (min-width: 767px) {
  .pdppage .product__facet .shop-by-button {
    display: none !important; } }

.pdppage .product__facet .facet-wrapper {
  position: relative;
  margin-bottom: 2rem; }

@media (max-width: 767px) {
  .pdppage .product__facet .facet-wrapper {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out; }
  .pdppage .product__facet .collapse {
    display: block; } }

.pdppage .product__facet span.facet_link {
  color: #444444;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 10px 15px; }
  .pdppage .product__facet span.facet_link::after {
    content: '\002B';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 2.6rem;
    font-size: 1.5rem;
    padding: 0 0.85rem;
    color: #444444; }

.pdppage .product__facet span.facet_link.slide-down::after {
  content: '\02212'; }

@media (max-width: 1024px) {
  .pdppage .product__facet .facet__list li {
    margin-bottom: 1.25rem; } }

.pdppage .product__facet .facet__text {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2); }
  .pdppage .product__facet .facet__text a,
  .pdppage .product__facet .facet__text .facet__value__count {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 1.85rem;
    padding: 0.5rem 0.45rem;
    user-select: none; }
  .pdppage .product__facet .facet__text a {
    width: 90%;
    text-indent: 0;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease; }
    .pdppage .product__facet .facet__text a:hover {
      color: #C00000;
      text-indent: 5px; }
  .pdppage .product__facet .facet__text .facet__value__count {
    width: 10%;
    text-align: right;
    font-size: 75%;
    font-weight: 800;
    color: #C00000; }

.pdppage .product__facet .applied-facets .facet__name {
  font-size: 1.25rem;
  padding: 10px 0;
  margin-bottom: 0.5rem;
  background-color: #F5F5F5; }

@media (min-width: 1200px) {
  .pdppage .product__facet {
    max-width: 95%; } }
