/*=== Global Page Template Fixes ===*/
.cust-inner-wrapper .container .row > div {
  width: 100%; }

@media (max-width: 767px) {
  .breadcrumb li {
    width: 100%;
    margin: 5px 0;
    font-size: 1.25rem; }
    .breadcrumb li::before {
      content: unset !important; } }

.pagination-account {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset !important; }

.pagination-bar-results {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  font-weight: 800;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE; }

.pagination-bar {
  margin: 0 auto;
  max-width: 700px;
  overflow: unset !important; }

.cust-searchresult {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.cust-plp-grid {
  margin-top: 30px;
  display: -ms-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 1rem; }
  .cust-plp-grid > div {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%; }
    .cust-plp-grid > div:nth-child(1) {
      order: 1; }
    .cust-plp-grid > div:nth-child(2) {
      order: 2; }
    .cust-plp-grid > div:nth-child(3) {
      order: 3; }
  @media (min-width: 767px) {
    .cust-plp-grid .plp-grid-left {
      width: 25%; }
    .cust-plp-grid .plp-grid-right {
      width: 75%; } }

.cust-print {
  display: none; }

.cust-sortby {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .cust-sortby > div {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 2%;
    margin-bottom: 2rem; }
    .cust-sortby > div:nth-child(1) {
      order: 1; }
    .cust-sortby > div:nth-child(2) {
      order: 2; }
    .cust-sortby > div:nth-child(3) {
      order: 3; }
  @media (min-width: 320px) {
    .cust-sortby > div {
      width: 100%; } }
  @media (min-width: 767px) {
    .cust-sortby > .form-group {
      width: 46%; } }
  .cust-sortby .form-group .control-label {
    max-width: unset !important; }
  .cust-sortby .form-group label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem; }

.sort-refine-bar {
  display: unset !important;
  flex-direction: unset !important;
  padding-left: unset !important; }
  .sort-refine-bar .form-group {
    flex: unset !important;
    display: unset !important;
    flex-direction: unset !important; }
  .sort-refine-bar form {
    max-width: unset !important;
    float: none !important; }

.search-pagination {
  margin: 0 auto;
  max-width: 800px; }
  .search-pagination select {
    border: 1px solid #CCC;
    display: inline-block;
    padding: 6px 15px;
    width: 100%;
    max-width: 100% !important;
    outline: none; }

.pagination {
  justify-content: center !important; }
  .pagination li.first a::before {
    content: "\00AB"; }
  .pagination li.prev a::before {
    content: "\2039"; }
  .pagination li.next a::before {
    content: "\203A"; }
  .pagination li.last a::before {
    content: "\00BB"; }
  .pagination li strong {
    color: #222;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #CCC;
    text-align: center;
    background-color: #EEE; }

.addressList .addressEntry {
  flex-wrap: wrap; }

.checkout-delivery-date-error {
  display: block;
  color: #C00; }

.page-singleStepCheckoutSummaryPage button.disabled {
  pointer-events: none;
  background-color: #EEE !important;
  opacity: 0.5; }

ul.pagination {
  margin: 10px 0 !important; }

.dropdown-menuser {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }
  .dropdown-menuser .counts {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: normal;
    transition: box-shadow 400ms, color 400ms, background-color 400ms;
    border: 1px solid #dedede;
    min-width: 240px;
    -webkit-appearance: none; }
  .dropdown-menuser .dropdown-number {
    display: -ms-flex;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0 0 3px #eee;
    position: absolute;
    width: 100%;
    z-index: 100; }
    .dropdown-menuser .dropdown-number a {
      color: #333;
      font-weight: 400;
      display: none;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      padding: 5px;
      font-size: 18px;
      text-decoration: none;
      border-bottom: 1px solid #EEE; }
      .dropdown-menuser .dropdown-number a:hover {
        color: #C00 !important;
        text-decoration: inherit;
        background-color: #EEE; }
    .dropdown-menuser .dropdown-number a.open {
      display: inline-block; }

.branding-mobile,
.skiptocontent,
.skiptonavigation {
  display: none; }

.page-storefinderPage .store__finder--navigation input:checked + .js-select-store-label span {
  color: #FFF; }

.user-account-number span {
  position: relative;
  top: 0.25rem;
  display: inline-block;
  width: 100%;
  padding: 0 2.75rem;
  font-size: 0.8rem !important;
  color: rgba(204, 0, 0, 0.5); }

#samBody .userLogin #j_username,
#samBody .userLogin #j_password {
  color: #222 !important;
  background-color: #FFF !important; }

/*=== My Account | Samios Favourites Patch CSS ===*/
#samBody .my-favourites-container .cust-wishlist {
  align-items: unset !important; }

/*=== My Account | Favourites Patch CSS ===*/
.my-favourites-container #createWish .control,
.my-favourites-container #changeWish .control {
  margin: 0 auto;
  width: 100%;
  max-width: 97%; }

.my-favourites-container .newDefaultwishlistName {
  margin-right: unset; }

.my-favourites-container button[disabled] {
  cursor: not-allowed;
  opacity: 0.75;
  color: #222 !important;
  background-color: #EEE; }

.my-favourites-container .grid-add-basket input {
  min-width: max-content !important;
  max-width: max-content !important; }

.my-favourites-container .ui-sortable-helper {
  border: 1px dashed #C00;
  background-color: #FFF; }

.my-favourites-container .delete-fav-button {
  text-decoration: none !important;
  color: #C00 !important;
  font-size: 1rem;
  font-weight: bold !important; }
  .my-favourites-container .delete-fav-button:hover {
    text-decoration: inherit !important; }

.my-favourites-container .select-fav-list-loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5 rem;
  background-color: #FFF;
  z-index: 1000; }
  .my-favourites-container .select-fav-list-loading-screen p {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%; }
    .my-favourites-container .select-fav-list-loading-screen p span {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }

@media (min-width: 1025px) {
  .my-favourites-container #listSelect .table-body {
    position: relative;
    max-height: 700px;
    overflow: hidden;
    overflow-y: scroll; }
    .my-favourites-container #listSelect .table-body::-webkit-scrollbar {
      width: 5px; }
    .my-favourites-container #listSelect .table-body::-webkit-scrollbar-thumb {
      background: #C00; } }

.my-favourites-container #listSelect .fav-list-search-filter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.my-favourites-container #listSelect .grid-remove-button button svg {
  display: block;
  margin: 0 auto; }

.my-favourites-container .table-body .list__Header {
  border-bottom: 1px solid #EEE;
  box-shadow: 0 4px 2px -2px #EEE;
  background-color: #FFF !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }

.my-favourites-container .table-body .move-to-list {
  display: none; }

@media (max-width: 1024px) {
  .my-favourites-container .fav-grid-container .listProdDetails {
    padding: 1.5rem; } }

@media (max-width: 767px) {
  .my-favourites-container .cust-wishlist {
    margin-left: unset !important;
    margin-right: unset !important;
    padding: 0 0.85rem; }
  .my-favourites-container .my-fav-pricing .grid-add-basket {
    flex-wrap: wrap; }
    .my-favourites-container .my-fav-pricing .grid-add-basket input[type="number"],
    .my-favourites-container .my-fav-pricing .grid-add-basket button {
      flex: 1 0 auto;
      width: 100%;
      margin-bottom: 15px; } }

@media (max-width: 1399px) {
  .manage-my-favourites-container .fav-prodname-pricing .fav-prodImage {
    width: 20%; }
  .manage-my-favourites-container .fav-prodname-pricing .fav-prodData {
    width: 80%; }
  .manage-my-favourites-container .fav-prodname-pricing .cust-wishlist {
    width: 100%; } }

@media (max-width: 767px) {
  .manage-my-favourites-container #listSelect #destWishlistName {
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
    display: block; } }

.manage-my-favourites-container #listSelect .grid-add-basket {
  width: auto !important; }

/*=== My Account | Invoice Patch CSS ===*/
.module-search-split .module-search-split-left form .form-group {
  min-width: max-content;
  max-width: max-content; }

.page-myInvoices .module-search {
  max-width: 800px; }

/*=== My Account | Historical Invoice Patch CSS ===*/
.historical-invoices-container .module-half {
  max-width: 100% !important; }
  @media (min-width: 767px) {
    .historical-invoices-container .module-half {
      max-width: 650px !important; } }
  .historical-invoices-container .module-half input[type="text"] {
    width: 100%; }

/*=== Colouring Competition CSS Styles ===*/
#cnwBody .coloring-competition {
  --baseColorComp: #C00; }
  #cnwBody .coloring-competition .coloring-sub-header span {
    color: var(--baseColorComp); }
  #cnwBody .coloring-competition .entries-close-content {
    background: url("https://shop.cnw.com.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aDcwL2gxMS85Njc2MzA3MTY5MzEwL2VudHJpZXMtY2xvc2UucG5nfGExYmRkMzYxOGMyZmNlMzQ3ZDc5MmY1MjExOTdkNTUwZGIzMDY3YWY3YmIwNWYwNTljNmYwODU1ZjU4MWRkY2E") no-repeat center; }

#samBody .coloring-competition {
  --baseColorComp: #EE2E34; }
  #samBody .coloring-competition .coloring-sub-header span {
    color: var(--baseColorComp); }
  #samBody .coloring-competition .entries-close-content {
    background: url("https://shop.samios.net.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aGY2L2gwYS85Njc2MzA3MzMzMTUwL2VudHJpZXMtY2xvc2UucG5nfDk1YzE3ZDc3MDQwOGU2OWRhNzNkNTNiYmNhOGQ1NzNhZTI0MmZiN2VkOTU3MGVkMzgxNTA4ZDc1OGZkNTNmYzc") no-repeat center; }

#sheBody .coloring-competition {
  --baseColorComp: #FED104; }

#sheBody .entries-close-content {
  background: url("https://shop.sherriff.com.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aDM5L2gwNC85Njc2MzA3NTI5NzU4L2VudHJpZXMtY2xvc2UucG5nfGNkOGYyMmM1ZjI4M2RlYzc4OTdmZTQyMmNkZDg1NzRlODZhMmFkYjBjOGIwNjhiMjMzYTZmMTQ0YmFiZjZhMWQ") no-repeat center; }

.coloring-competition {
  --ccblue: #34568B;
  --cccoral: #FF6F61;
  --ccviolet: #6B5B95;
  --ccgreenery: #88B04B;
  --ccaqua: #7FCDCD;
  --ccbuttercream: #EFE1CE;
  --ccgold: #D4AF37;
  --ccsilver: #D3D3D3;
  --ccbronze: #CD7F32;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 10rem; }
  .coloring-competition sup {
    font-size: 14px;
    position: relative;
    top: -10px;
    margin: 0 2px; }
  .coloring-competition li {
    list-style: none;
    list-style-type: none;
    line-height: 30px;
    margin-bottom: 15px; }
  .coloring-competition a {
    color: #C00;
    text-decoration: none; }
    .coloring-competition a:hover {
      text-decoration: inherit; }
  .coloring-competition .text-red {
    text-align: center;
    color: var(--baseColorComp); }
  @media (min-width: 767px) {
    .coloring-competition {
      padding: 5rem;
      max-width: 1300px;
      padding-bottom: 10rem; } }
  .coloring-competition .coloring-left,
  .coloring-competition .coloring-right,
  .coloring-competition .coloring-bottom {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    margin: 1.25rem 0;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
    .coloring-competition .coloring-left > div,
    .coloring-competition .coloring-right > div,
    .coloring-competition .coloring-bottom > div {
      padding: 1.25rem;
      margin: 1.25rem 0;
      position: relative;
      top: 0;
      -webkit-transition: 0.8s ease;
      transition: 0.8s ease; }
    @media (min-width: 1025px) {
      .coloring-competition .coloring-left > div:hover,
      .coloring-competition .coloring-right > div:hover,
      .coloring-competition .coloring-bottom > div:hover {
        top: -1rem; } }
  @media (min-width: 1023px) {
    .coloring-competition .coloring-left,
    .coloring-competition .coloring-right {
      width: 48%;
      margin: 1%; } }
  .coloring-competition .coloring-left {
    order: 1; }
  .coloring-competition .coloring-right {
    order: 2; }
  .coloring-competition .coloring-bottom {
    order: 3; }
  .coloring-competition .coloring-logo img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: contain;
    object-position: center; }
  .coloring-competition .coloring-table {
    padding: 0;
    border: 40px; }
  .coloring-competition .coloring-table-row {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE; }
    .coloring-competition .coloring-table-row:nth-child(1) {
      background-color: var(--baseColorComp) !important; }
      .coloring-competition .coloring-table-row:nth-child(1) span {
        color: #FFF; }
    .coloring-competition .coloring-table-row:nth-of-type(even) {
      background-color: #EEE; }
    .coloring-competition .coloring-table-row span {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      padding: 5px;
      border-bottom: 1px solid #CCC; }
    @media (min-width: 640px) {
      .coloring-competition .coloring-table-row span {
        width: 50%; } }
  .coloring-competition .coloring-sub-header span {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase; }
  .coloring-competition .coloring-enter,
  .coloring-competition .coloring-prize-details,
  .coloring-competition .coloring-prizes,
  .coloring-competition .coloring-age-groups,
  .coloring-competition .coloring-major-prize-draw {
    border: 1px solid #CCC;
    border-radius: 1rem;
    box-shadow: 0 0 20px #EEE; }
  .coloring-competition .coloring-enter,
  .coloring-competition .coloring-prizes,
  .coloring-competition .coloring-major-prize-draw {
    background-color: rgba(239, 225, 206, 0.2); }
  .coloring-competition .coloring-prizes p {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase; }
  .coloring-competition .coloring-prizes img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center; }
  .coloring-competition .coloring-prizes li {
    text-align: center; }
    .coloring-competition .coloring-prizes li:nth-child(1) span:nth-child(1) {
      background-color: var(--ccgold); }
    .coloring-competition .coloring-prizes li:nth-child(2) span:nth-child(1) {
      background-color: var(--ccsilver); }
    .coloring-competition .coloring-prizes li:nth-child(3) span:nth-child(1) {
      background-color: var(--ccbronze); }
    .coloring-competition .coloring-prizes li span {
      display: inline-block;
      text-align: center;
      margin-bottom: 5px; }
      .coloring-competition .coloring-prizes li span:nth-of-type(odd) {
        font-size: 1.8rem;
        border-radius: 40px;
        padding: 10px 20px; }
      .coloring-competition .coloring-prizes li span:nth-of-type(even) {
        font-size: 1.35rem; }
  .coloring-competition .coloring-bottom ul {
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around; }
    .coloring-competition .coloring-bottom ul li {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      margin: 20px 0;
      text-align: center;
      padding: 10px 0;
      border-radius: 40px;
      color: #FFF;
      box-shadow: 0 0 10px #CCC; }
      .coloring-competition .coloring-bottom ul li:nth-child(1) {
        background-image: linear-gradient(45deg, var(--ccblue), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(2) {
        background-image: linear-gradient(45deg, var(--cccoral), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(3) {
        background-image: linear-gradient(45deg, var(--ccviolet), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(4) {
        background-image: linear-gradient(45deg, var(--ccgreenery), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li:nth-child(5) {
        background-image: linear-gradient(45deg, var(--ccaqua), var(--baseColorComp)); }
      .coloring-competition .coloring-bottom ul li span {
        display: inline-block;
        width: 100%; }
        .coloring-competition .coloring-bottom ul li span:nth-of-type(1) {
          font-size: 30px; }
    @media (min-width: 1024px) {
      .coloring-competition .coloring-bottom ul li {
        width: 18%;
        margin: 1%; } }
  .coloring-competition .coloring-major-prize-draw p {
    text-align: center; }
  .coloring-competition .coloring-major-prize-draw .coloring-button {
    text-align: center;
    margin: 1.35rem 0; }
    .coloring-competition .coloring-major-prize-draw .coloring-button a {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 40px;
      color: #FFF;
      background-color: var(--baseColorComp); }
      .coloring-competition .coloring-major-prize-draw .coloring-button a:hover {
        color: #FFF;
        background-color: #222; }
  .coloring-competition .coloring-major-prize-draw .entries-close-content {
    width: 260px;
    height: 200px;
    padding-top: 3rem;
    position: absolute;
    bottom: -65%;
    right: 0;
    color: #FFF;
    background-size: contain !important;
    z-index: 100; }
    .coloring-competition .coloring-major-prize-draw .entries-close-content p {
      font-size: 70%;
      position: relative;
      line-height: 2.25rem; }
      .coloring-competition .coloring-major-prize-draw .entries-close-content p:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        max-width: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
      .coloring-competition .coloring-major-prize-draw .entries-close-content p:nth-child(1)::before {
        border-top: 2px dashed #FFF; }
      .coloring-competition .coloring-major-prize-draw .entries-close-content p:nth-child(3)::before {
        border-bottom: 2px dashed #FFF; }
  @media (min-width: 1200px) {
    .coloring-competition .coloring-major-prize-draw .entries-close-content {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }

.she__home-container .news-section {
  display: table;
  height: 40vh;
  background-color: #EEEEEE; }
  .she__home-container .news-section::before, .she__home-container .news-section::after {
    content: unset !important; }

.she__home-container .news__cards-wrapper {
  position: relative;
  overflow-x: auto;
  display: table-cell;
  vertical-align: middle;
  z-index: 1; }
  .she__home-container .news__cards-wrapper::-webkit-scrollbar {
    width: 2px; }
  .she__home-container .news__cards-wrapper::-webkit-scrollbar-thumb {
    background-color: #FED105; }

/*=== Product Grid | Search Page ===*/
.cust-plp-grid {
  flex-direction: unset !important;
  flex: unset !important; }
  .cust-plp-grid .plp-grid-left,
  .cust-plp-grid .plp-grid-right {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
  @media (min-width: 767px) {
    .cust-plp-grid .plp-grid-left {
      width: 25%; }
    .cust-plp-grid .plp-grid-right {
      width: 75%; } }

@media (max-width: 767px) {
  .cust-plp-grid {
    padding: 10px; } }

/*=== Product Facets | Refinement | Global Styles ===*/
#sheBody .pdppage .shop-by-button::after,
#sheBody .pdppage span.facet_link::after {
  line-height: 3rem; }

#samBody .pdppage .shop-by-button::after,
#samBody .pdppage span.facet_link::after {
  line-height: 3.5rem; }

.pdppage .product__facet .facet {
  border-bottom: unset !important; }

.pdppage .product__facet .facet__name {
  font-size: 18px;
  text-transform: capitalize;
  color: #444;
  margin: 1px;
  background-color: #F2F3F4 !important;
  position: relative;
  z-index: 1; }

.pdppage .product__facet .shop-by-button {
  user-select: none;
  cursor: pointer;
  outline: none;
  border: 0;
  display: inline-block;
  padding: 0.8rem 1rem;
  color: #FFFFFF;
  background-color: #0099FF;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1; }
  .pdppage .product__facet .shop-by-button::after {
    content: '\002B';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 2.6rem;
    font-size: 1.5rem;
    padding: 0 0.85rem;
    z-index: -1; }
  .pdppage .product__facet .shop-by-button:hover {
    background-color: #222222; }

@media (min-width: 767px) {
  .pdppage .product__facet .shop-by-button {
    display: none !important; } }

.pdppage .product__facet .facet-wrapper {
  position: relative;
  margin-bottom: 2rem; }

@media (max-width: 767px) {
  .pdppage .product__facet .facet-wrapper {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out; }
  .pdppage .product__facet .collapse {
    display: block; } }

.pdppage .product__facet span.facet_link {
  color: #444444;
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 10px 15px;
  word-wrap: break-word; }
  .pdppage .product__facet span.facet_link::after {
    content: '\002B';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 2.6rem;
    font-size: 1.5rem;
    padding: 0 0.85rem;
    color: #444444; }

.pdppage .product__facet span.facet_link.slide-down::after {
  content: '\02212'; }

@media (max-width: 1024px) {
  .pdppage .product__facet .facet__list li {
    margin-bottom: 1.25rem; } }

.pdppage .product__facet .facet__text {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(238, 238, 238, 0.2); }
  .pdppage .product__facet .facet__text a,
  .pdppage .product__facet .facet__text .facet__value__count {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    height: 1.85rem;
    padding: 0.5rem 0.45rem;
    user-select: none; }
  .pdppage .product__facet .facet__text a {
    width: 90%;
    text-indent: 0;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease; }
    .pdppage .product__facet .facet__text a:hover {
      color: #C00000;
      text-indent: 5px; }
  .pdppage .product__facet .facet__text .facet__value__count {
    width: 10%;
    text-align: right;
    font-size: 75%;
    font-weight: 800;
    color: #C00000; }

.pdppage .product__facet .applied-facets {
  margin-bottom: 3rem; }
  .pdppage .product__facet .applied-facets .facet__name {
    padding: 10px 15px;
    margin-bottom: 0.5rem;
    background-color: #F5F5F5; }
  .pdppage .product__facet .applied-facets .facet__list {
    padding-left: 1.25rem; }

.pdppage .product__facet .headline {
  display: inline-block;
  color: #444;
  width: 100%;
  position: relative;
  padding: 10px 15px;
  background-color: #F2F3F4; }

@media (min-width: 1200px) {
  .pdppage .product__facet {
    max-width: 95%; } }

/*==== News and Promotion Storefront and styles ====*/
[class*="-news-promo"] {
  width: 100%;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
  position: relative;
  z-index: 1; }
  [class*="-news-promo"] .news-card {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto; }
    [class*="-news-promo"] .news-card img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    [class*="-news-promo"] .news-card:nth-of-type(1), [class*="-news-promo"] .news-card:nth-of-type(2) {
      width: 50%;
      background-color: #222222; }
      [class*="-news-promo"] .news-card:nth-of-type(1) .news-card-content, [class*="-news-promo"] .news-card:nth-of-type(2) .news-card-content {
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
        position: relative;
        top: -2rem;
        padding: 20px;
        border: 1px solid #F5F5F5;
        background-color: #222222; }
        [class*="-news-promo"] .news-card:nth-of-type(1) .news-card-content *, [class*="-news-promo"] .news-card:nth-of-type(2) .news-card-content * {
          color: #FFFFFF; }
        [class*="-news-promo"] .news-card:nth-of-type(1) .news-card-content span, [class*="-news-promo"] .news-card:nth-of-type(2) .news-card-content span {
          display: inline-block;
          font-size: 1.25rem;
          line-height: 2rem;
          margin-bottom: 20px;
          text-transform: uppercase; }
    [class*="-news-promo"] .news-card:nth-child(n+3) {
      width: 33.33%;
      max-width: 450px;
      margin: 10px;
      padding: 20px;
      border: 1px solid #F5F5F5;
      background-color: #FFFFFF;
      box-shadow: 0 0 30px -10px #CCCCCC;
      transform-style: preserve-3d;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: transform 0.65s ease;
      transition: transform 0.65s ease; }
      @media (min-width: 1200px) {
        [class*="-news-promo"] .news-card:nth-child(n+3):hover {
          -webkit-transform: scale(0.99);
          transform: scale(0.99); } }
      [class*="-news-promo"] .news-card:nth-child(n+3) img {
        height: 408px;
        object-fit: contain;
        object-position: center; }
      [class*="-news-promo"] .news-card:nth-child(n+3) .news-card-content {
        position: relative; }
        [class*="-news-promo"] .news-card:nth-child(n+3) .news-card-content span {
          display: inline-block;
          width: 100%;
          min-height: 70px;
          font-size: 1.25rem;
          line-height: 2rem;
          padding: 5px 0;
          margin-bottom: 20px;
          text-transform: uppercase;
          color: #CC0000;
          border-bottom: 1px solid #EEEEEE; }
        [class*="-news-promo"] .news-card:nth-child(n+3) .news-card-content p {
          font-size: 1.2rem;
          line-height: 1.75rem;
          min-height: 110px; }
    [class*="-news-promo"] .news-card a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 10px 15px;
      margin: 20px 0;
      border-radius: 40px;
      color: #FFFFFF;
      font-size: 1.25rem;
      text-decoration: none;
      background-color: #CC0000; }
      [class*="-news-promo"] .news-card a:hover {
        text-decoration: inherit; }
    @media (min-width: 767px) {
      [class*="-news-promo"] .news-card a {
        width: auto; } }
  @media (max-width: 767px) {
    [class*="-news-promo"] .news-card {
      width: 100% !important;
      max-width: 100% !important; } }

#samBody [class*="-news-promo"] .news-card:nth-child(n+3) img {
  object-fit: cover;
  max-height: 130px; }

#news-promotion .grid-item-link .grid-item-img {
  margin: 0 auto;
  width: 210px;
  height: 210px;
  object-fit: contain;
  object-position: center; }

/*==== Sherriff Job Landing Page CSS Styles ====*/
.job {
  padding: 20px; }
  .job h1 {
    text-align: center;
    margin-bottom: 40px; }
  .job p {
    margin-bottom: 20px;
    line-height: 30px; }
  .job ul {
    margin-left: 1rem; }
  .job li {
    list-style: disc;
    list-style-type: disc;
    margin-bottom: 20px; }
  .job a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    color: #222;
    background-color: #FED105;
    text-decoration: none; }

@media (min-width: 768px) {
  .job {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    padding-bottom: 5rem; }
    .job ul {
      margin-left: 1.25rem; }
    .job a {
      max-width: 200px; }
      .job a:hover {
        color: #FFF;
        background-color: #222222; } }

/*==== Electrical PCN Styles ====*/
.pcn {
  width: 100%;
  padding-bottom: 3rem;
  background-color: #EEE;
  overflow-x: hidden;
  position: relative;
  z-index: 1; }
  .pcn .pcn-hero {
    order: 1;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    transform: skewY(-5deg) translateY(-10vh) scale(2);
    position: relative;
    z-index: -1; }
    .pcn .pcn-hero::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #EEE;
      background-image: -moz-linear-gradient(rgba(255, 195, 113, 0.5), rgba(0, 0, 0, 0.2)), url("../img/price-increase.jpg");
      background-image: linear-gradient(rgba(255, 195, 113, 0.5), rgba(0, 0, 0, 0.2)), url("../img/price-increase.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 25%;
      transform: skewY(5deg) scale(2.5);
      z-index: -1; }
  .pcn .pcn-content-wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1300px; }
    .pcn .pcn-content-wrapper > div {
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
      page-break-inside: avoid;
      padding: 30px;
      margin-bottom: 25px;
      border-radius: 10px;
      background-color: #FFF;
      box-shadow: 0 0 30px #CCC; }
    .pcn .pcn-content-wrapper .pcn-excerpt p {
      margin-bottom: 10px;
      font-size: 1.2rem;
      line-height: 2rem; }
    .pcn .pcn-content-wrapper .pcn-data > div {
      margin: 10px 0; }
      .pcn .pcn-content-wrapper .pcn-data > div > span {
        cursor: pointer;
        user-select: none;
        display: inline-block;
        width: 100%;
        padding: 10px 30px;
        font-size: 1.2rem;
        border-radius: 40px;
        color: #FFF;
        background-image: linear-gradient(45deg, #222, #C00);
        position: relative; }
        .pcn .pcn-content-wrapper .pcn-data > div > span::after {
          content: "\02014";
          position: absolute;
          right: calc(2rem - 10px); }
        .pcn .pcn-content-wrapper .pcn-data > div > span:hover {
          background-image: linear-gradient(45deg, #C00, #222); }
      .pcn .pcn-content-wrapper .pcn-data > div > span.pcn-collapsed::after {
        content: "\002B"; }
      .pcn .pcn-content-wrapper .pcn-data > div > span.pcn-collapsed + .pcn-content {
        max-height: 0;
        transition: max-height 0.8s ease-in-out; }
    .pcn .pcn-content-wrapper .pcn-graph img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .pcn .pcn-content-wrapper .pcn-content {
      counter-reset: pcn-list;
      max-height: initial;
      overflow: hidden;
      transition: max-height 0.2s ease-in-out; }
      .pcn .pcn-content-wrapper .pcn-content a {
        display: inline-block;
        color: #C00;
        margin: 5px 0;
        position: relative;
        line-height: 1.5rem;
        text-indent: 0;
        transition: text-indent 0.75s ease;
        position: relative; }
        .pcn .pcn-content-wrapper .pcn-content a::before {
          counter-increment: pcn-list;
          content: "" counter(pcn-list) "";
          display: inline-block;
          font-size: 80%;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 50%;
          margin-right: 10px;
          color: #FFF;
          background-image: linear-gradient(45deg, #222, #C00); }
        .pcn .pcn-content-wrapper .pcn-content a:hover {
          text-indent: 10px; }
  @media (min-width: 767px) {
    .pcn .pcn-content-wrapper {
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      column-gap: 20px; } }

/*==== CNW Ventair 2021 Promo Terms Conditions ====*/
.page-ventairpage .terms-conditions {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 30px;
  padding-bottom: 5rem; }

.page-ventairpage .terms-conditions-header span,
.page-ventairpage .terms-conditions-sub-header span {
  display: inline-block;
  margin: 2rem 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase; }

.page-ventairpage .terms-conditions-header span {
  font-size: 2rem;
  line-height: 3.5rem; }

.page-ventairpage .terms-conditions-sub-header span {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration: underline; }

.page-ventairpage strong {
  font-weight: 500; }

.page-ventairpage li {
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem; }

.page-ventairpage ol > li {
  list-style: decimal;
  list-style-type: decimal;
  padding-left: 10px; }

.page-ventairpage .terms-conditions-inner-content {
  margin: 1.85rem 0; }
  .page-ventairpage .terms-conditions-inner-content ul > li {
    list-style: disc;
    list-style-type: disc;
    margin-left: 3rem; }
  .page-ventairpage .terms-conditions-inner-content a {
    color: #C00;
    word-break: break-word;
    text-decoration: underline; }

.page-ventairpage .terms-content-draw-table {
  display: flex;
  flex-wrap: wrap; }
  .page-ventairpage .terms-content-draw-table > div {
    flex: 1 0 auto;
    display: flex; }
  .page-ventairpage .terms-content-draw-table .terms-content-draw-table-row:nth-of-type(1) {
    background-color: #EEE; }
  .page-ventairpage .terms-content-draw-table .terms-content-draw-table-row span {
    flex: 1 0 auto;
    padding: 2px 5px;
    border: 1px solid #EEE; }

@media (max-width: 767px) {
  .page-ventairpage .terms-content-draw-table {
    max-width: 400px; }
    .page-ventairpage .terms-content-draw-table > div {
      width: 50%;
      flex-direction: column; } }

@media (min-width: 767px) {
  .page-ventairpage .terms-content-draw-table-row {
    width: 100%; }
    .page-ventairpage .terms-content-draw-table-row span {
      width: 20%; } }

.page-ventairpage .terms-conditions-state-table .terms-conditions-state-table-row {
  display: flex; }
  .page-ventairpage .terms-conditions-state-table .terms-conditions-state-table-row:nth-of-type(1) {
    background-color: #EEE;
    border: 1px solid #EEE; }
  .page-ventairpage .terms-conditions-state-table .terms-conditions-state-table-row:nth-of-type(odd) {
    background-color: rgba(238, 238, 238, 0.35); }
  .page-ventairpage .terms-conditions-state-table .terms-conditions-state-table-row > span {
    flex: 1 0 auto;
    width: 33.33%;
    padding: 2px 5px; }

@media (min-width: 767px) {
  .page-ventairpage .terms-conditions-state-table {
    max-width: 767px; } }

.page-ventairpage .terms-conditions-download a {
  outline: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px 20px;
  color: #FFF;
  background-color: #C00;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  width: 100%; }

@media (min-width: 767px) {
  .page-ventairpage .terms-conditions-download a {
    width: auto;
    border-radius: 40px; } }

@media (min-width: 1200px) {
  .page-ventairpage .terms-conditions-download a:hover {
    background-color: #222; } }

/*=== Product Description Page ===*/
.pdp-wrapper {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px; }
  .pdp-wrapper > div {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    position: relative; }
  @media (min-width: 800px) {
    .pdp-wrapper > div {
      width: 100%;
      max-width: 46%;
      margin: 2%; }
    .pdp-wrapper .pdp-product-info {
      padding: 20px;
      border-left: 1px solid #EEE; } }
  .pdp-wrapper .pdp-gallery .image-gallery {
    position: relative; }
    .pdp-wrapper .pdp-gallery .image-gallery .image-gallery__zoom-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 50px;
      max-height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 1.5rem;
      color: #C00;
      background-color: #FFF;
      border: 1px solid #CCC;
      z-index: 10; }
  .pdp-wrapper .pdp-gallery .owl-wrapper {
    width: 100% !important; }
  .pdp-wrapper .pdp-gallery .owl-item {
    width: 100% !important; }
    .pdp-wrapper .pdp-gallery .owl-item a.item {
      display: inline-block;
      width: 100%;
      text-align: center; }
      .pdp-wrapper .pdp-gallery .owl-item a.item .lazyOwl {
        display: block;
        margin: 0 auto; }
  .pdp-wrapper .pdp-gallery .productImagePrimaryLink .lazyOwl {
    display: none !important; }
  .pdp-wrapper .pdp-gallery .cust-verticalAlign {
    margin: 0.5rem 0; }
  .pdp-wrapper .pdp-gallery .zoomImg {
    width: 100% !important;
    height: auto !important; }
    .pdp-wrapper .pdp-gallery .zoomImg .zoomImgMask {
      display: none; }
    .pdp-wrapper .pdp-gallery .zoomImg img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
      object-fit: contain;
      object-position: center; }
  @media (min-width: 800px) {
    .pdp-wrapper .pdp-gallery {
      max-height: 50vh;
      overflow-x: hidden;
      overflow-y: auto; } }
  .pdp-wrapper .pdp-product-info .pdp-titledescription {
    border-bottom: 1px solid #EEE; }
    .pdp-wrapper .pdp-product-info .pdp-titledescription span {
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2.2rem;
      margin-bottom: 0.75rem; }
  .pdp-wrapper .pdp-product-info .pdp-code-addfav-share {
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0; }
    .pdp-wrapper .pdp-product-info .pdp-code-addfav-share > div {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      padding: 20px 0;
      font-weight: 400;
      font-size: 1.25rem;
      display: -ms-flex;
      display: flex; }
      .pdp-wrapper .pdp-product-info .pdp-code-addfav-share > div a {
        color: #222;
        text-decoration: none; }
        .pdp-wrapper .pdp-product-info .pdp-code-addfav-share > div a:hover {
          text-decoration: inherit; }
    @media (min-width: 600px) {
      .pdp-wrapper .pdp-product-info .pdp-code-addfav-share > div {
        max-width: 50%;
        justify-content: center; } }
    .pdp-wrapper .pdp-product-info .pdp-code-addfav-share svg {
      width: 100%;
      height: 100%;
      max-width: 25px;
      max-height: 25px;
      margin-right: 0.5rem;
      object-fit: contain; }
    .pdp-wrapper .pdp-product-info .pdp-code-addfav-share .pdp-code {
      color: #C00; }
    .pdp-wrapper .pdp-product-info .pdp-code-addfav-share .add-to-wishlist-icon {
      display: -ms-flex;
      display: flex;
      align-items: center; }
    .pdp-wrapper .pdp-product-info .pdp-code-addfav-share .a2a_kit .a2a_dd {
      color: #0F52BA;
      float: none;
      display: -ms-flex;
      display: flex;
      align-items: center; }
      .pdp-wrapper .pdp-product-info .pdp-code-addfav-share .a2a_kit .a2a_dd svg {
        fill: #0F52BA; }
  .pdp-wrapper .pdp-product-info .pdp-addtocart {
    margin: 0.75rem 0; }
    .pdp-wrapper .pdp-product-info .pdp-addtocart .uom,
    .pdp-wrapper .pdp-product-info .pdp-addtocart .supplierCost > span,
    .pdp-wrapper .pdp-product-info .pdp-addtocart .stockMsg {
      display: -ms-flex !important;
      display: flex !important;
      flex-wrap: wrap;
      border-bottom: 1px solid #EEE; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart .uom > span,
      .pdp-wrapper .pdp-product-info .pdp-addtocart .supplierCost > span > span,
      .pdp-wrapper .pdp-product-info .pdp-addtocart .stockMsg > span {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        padding: 0.5rem;
        width: 50%; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart .uom > span:nth-child(1),
        .pdp-wrapper .pdp-product-info .pdp-addtocart .supplierCost > span > span:nth-child(1),
        .pdp-wrapper .pdp-product-info .pdp-addtocart .stockMsg > span:nth-child(1) {
          background-color: #FFF; }
    .pdp-wrapper .pdp-product-info .pdp-addtocart .productDet-price {
      color: #DF2719; }
    .pdp-wrapper .pdp-product-info .pdp-addtocart .store-label-select {
      margin: 1.5rem 0;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart .store-label-select label,
      .pdp-wrapper .pdp-product-info .pdp-addtocart .store-label-select select {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        margin: 0.9rem 0; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart .store-label-select select {
        padding: 0.25rem;
        border: 1px solid #EEE;
        border-radius: 5px; }
      @media (min-width: 600px) {
        .pdp-wrapper .pdp-product-info .pdp-addtocart .store-label-select label,
        .pdp-wrapper .pdp-product-info .pdp-addtocart .store-label-select select {
          width: 50%; } }
    .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"],
    .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] {
      margin: 20px 0; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button[type="submit"],
      .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button[type="submit"] {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        min-width: 270px;
        outline: none;
        border: 0;
        padding: 10px 20px;
        border-radius: 5px;
        color: #FFF;
        background-color: #0F52BA; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button[type="submit"]:hover,
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button[type="submit"]:hover {
          background-color: #222; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button[disabled="disabled"],
      .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button:disabled,
      .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button[disabled="disabled"],
      .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button:disabled {
        cursor: not-allowed;
        color: #222;
        background-color: #EEE;
        opacity: 0.5; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button[disabled="disabled"]:hover,
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button:disabled:hover,
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button[disabled="disabled"]:hover,
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button:disabled:hover {
          background-color: #EEE; }
      @media (max-width: 767px) {
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="GET"] button,
        .pdp-wrapper .pdp-product-info .pdp-addtocart form[method="POST"] button {
          width: 100%; } }
    .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty {
      margin: 1.5rem 0;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty > .quantity_label,
      .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty > .pdp-product-quantity {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        margin: 0.9rem 0; }
      .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity {
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity a,
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity input {
          -ms-flex: 1;
          flex: 1;
          text-align: center; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity a {
          width: 20%;
          cursor: pointer;
          color: #222;
          text-decoration: none;
          font-size: 1.75rem;
          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity a:hover {
            text-decoration: inherit; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity a.dec {
          background-color: #EEE;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity a.inc {
          background-color: #CCC;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px; }
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty .pdp-product-quantity input {
          width: 60%;
          border: 1px solid #EEE;
          border-radius: 3px; }
      @media (min-width: 600px) {
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty > .quantity_label,
        .pdp-wrapper .pdp-product-info .pdp-addtocart .Empty_qty > .pdp-product-quantity {
          width: 50%; } }
    .pdp-wrapper .pdp-product-info .pdp-addtocart .last {
      text-align: right; }
  .pdp-wrapper .pdp-proddetails-reviews table tbody tr {
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap; }
    .pdp-wrapper .pdp-proddetails-reviews table tbody tr td {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 100%;
      padding: 0.85rem; }
      .pdp-wrapper .pdp-proddetails-reviews table tbody tr td:nth-child(1) {
        background-color: #EEE; }
    @media (min-width: 600px) {
      .pdp-wrapper .pdp-proddetails-reviews table tbody tr td {
        width: 50%; } }

/*=== Samios Autocomplete Styles ===*/
#samBody .ui-autocomplete {
  border: unset !important;
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100vh;
  padding-top: 200px;
  padding-left: 4rem;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
  z-index: 11000; }

@media (max-width: 767px) {
  #samBody .ui-autocomplete {
    padding-left: 2rem; } }

#samBody .ui-autocomplete * {
  border: unset !important; }

#samBody .ui-autocomplete a {
  font-weight: 500;
  background: unset !important;
  background-color: unset !important;
  border: unset; }

#samBody .ui-autocomplete .ui-menu span {
  font-weight: 700;
  color: #EE3224; }

#samBody .ui-autocomplete a::before,
#samBody .ui-autocomplete a::after {
  content: unset; }

#samBody .ui-autocomplete span.sugg.ui-menu-item {
  display: block;
  color: #EE2E34;
  font-weight: bold; }

#samBody .ui-autocomplete span.categories.ui-menu-item {
  display: block;
  margin-top: 3rem; }

#samBody .ui-autocomplete span.relatedProds.ui-menu-item {
  display: block;
  margin: 3rem 0;
  color: #EE2E34;
  font-weight: bold; }

#samBody .ui-autocomplete li.ui-menu-item {
  display: inline-block;
  padding: 0;
  position: relative; }

#samBody .ui-autocomplete li.ui-menu-item a {
  padding-left: unset; }

#samBody .ui-autocomplete li.ui-menu-item:hover a.ui-state-active {
  border: unset !important; }

#samBody .ui-autocomplete li.ui-menu-item:hover a .name {
  color: #ccc; }

#samBody .ui-autocomplete li.ui-menu-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 2px solid #EE3224;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }

#samBody .ui-autocomplete li.ui-menu-item:hover:after {
  width: 100%; }

#samBody .ui-autocomplete li a .name {
  font-size: 0.9rem; }

#samBody .ui-autocomplete .relProds.ui-menu-item {
  display: -ms-flex;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 2rem; }

#samBody .ui-autocomplete .relProds.ui-menu-item li {
  margin-right: 1.2rem;
  min-height: 80px;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #211e1e !important;
  background-color: #211e1e !important;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  position: relative; }

#samBody .ui-autocomplete .relProds.ui-menu-item li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: 3px solid #EE3224;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }

#samBody .ui-autocomplete .relProds.ui-menu-item li:hover:after {
  width: 100%; }

#samBody .ui-autocomplete .relProds.ui-menu-item li:hover {
  background: #3e3838 !important;
  background-color: #3e3838 !important; }

#samBody .ui-autocomplete .relProds.ui-menu-item li.ui-state-active {
  border: unset; }

#samBody .ui-autocomplete .relProds.ui-menu-item .ui-menu-item-wrapper a::before,
#samBody .relProds.ui-menu-item .ui-menu-item-wrapper a::after {
  content: '';
  display: table;
  clear: both; }

#samBody .ui-autocomplete .relProds.ui-menu-item a::before,
#samBody .ui-autocomplete .relProds.ui-menu-item a::after {
  content: unset !important; }

#samBody .ui-autocomplete .relProds.ui-menu-item .ui-menu-item-wrapper a {
  display: flex;
  flex-direction: row; }

#samBody .ui-autocomplete .relProds.ui-menu-item .ui-menu-item-wrapper a > div {
  width: 100%;
  flex: 1; }

#samBody .ui-autocomplete .relProds.ui-menu-item .ui-menu-item-wrapper a .thumb {
  max-width: 25%;
  margin-right: 2%;
  overflow: hidden; }

#samBody .ui-autocomplete .relProds.ui-menu-item .ui-menu-item-wrapper a .thumb img {
  width: 100%;
  height: 100%;
  max-width: 75px;
  max-height: 75px;
  object-fit: contain;
  object-position: center; }

#samBody .ui-autocomplete .relProds.ui-menu-item .ui-menu-item-wrapper a .name {
  max-width: 73%; }

@media (max-width: 767px) {
  #samBody .ui-autocomplete li.ui-menu-item {
    width: 100%; } }

/*=== Sherriff PDP add to favourites notification message ===*/
#sheBody #globalMessages {
  z-index: 999999; }

/*=== BGWT PDP image scaling ===*/
.pdpwrap .gallery__images .owl-wrapper img {
  display: block;
  margin: 0 auto;
  width: 100%; }

/*=== Storefinder Search Form Fix ===*/
#storelocator-query:focus, #storelocator-query:active {
  color: #FFF !important;
  background: #000000 !important;
  background-color: #000000 !important; }

html,
body {
  overflow-x: unset; }

html {
  overflow-x: hidden; }

/*=== Temp Samios ===*/
.homehalf,
.homehalf-sector,
.homehalf-loggedin {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: stretch; }

.page-homepage .right-half,
.homehalf-sector .right-half,
.page-homepage .left-half,
.homehalf-sector .left-half,
.homehalf-loggedin .right-half,
.homehalf-loggedin .left-half {
  display: flex !important;
  height: 100%;
  flex: 1;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.mini-cart-container {
  z-index: 99999999; }

@media (max-width: 992px) {
  .homehalf,
  .homehalf-sector,
  .homehalf-loggedin,
  .call-register {
    flex-direction: column; }
  .page-homepage .right-half,
  .homehalf-sector .right-half,
  .page-homepage .left-half,
  .homehalf-sector .left-half,
  .homehalf-loggedin .right-half,
  .homehalf-loggedin .left-half {
    min-height: 50vh;
    width: 100%; } }

@media (max-width: 768px) {
  #samBody.page-singleStepCheckoutSummaryPage .main__inner-wrapper {
    padding: 0 !important; }
  .page-homepage .right-half,
  .homehalf-sector .right-half,
  .page-homepage .left-half,
  .homehalf-sector .left-half,
  .homehalf-loggedin .right-half,
  .homehalf-loggedin .left-half {
    min-height: 40vh;
    max-height: 40vh; } }

.homehalf,
.homehalf-sector,
.homehalf-loggedin {
  display: none; }

.page-homepage .homehalf,
.page-homepage .homehalf-sector,
.page-homepage .homehalf-loggedin {
  display: flex !important; }

.homehalf-account-box.acct-box-visible {
  display: flex !important; }

@media (max-width: 992px) {
  .homehalf-account-box.acct-box-visible {
    flex-direction: column; } }

/*=== ERP Iframe Fixes ===*/
.iframeWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .iframeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.page-erpintegrationpage .container {
  min-width: 100%;
  max-width: 100%; }

@media (max-width: 767px) {
  .iframeWrapper {
    min-width: 50vh; } }

/*===  CNW PDP Return to Search button CSS fix ===*/
#cnwBody .product-info-wrapper.pdpwrap .product__info__row .gallery__images .btn-return-to-search-container {
  top: calc(5% + 0.25rem) !important; }

/*=== Legrand Rewards 2020 ===*/
.page-legrandrewards2020page .legrand-rewards {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4rem; }

.page-legrandrewards2020page .legrand-image-content img {
  display: block;
  margin: 0 auto;
  width: 100%; }

.page-legrandrewards2020page .legrand-poster-download {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0.65rem;
  margin: 0 auto;
  max-width: 1300px; }
  .page-legrandrewards2020page .legrand-poster-download > div {
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    margin-bottom: 2rem; }
  @media (max-width: 767px) {
    .page-legrandrewards2020page .legrand-poster-download > div {
      -ms-flex: 1 0 auto;
      flex: 1 0 auto; } }
  .page-legrandrewards2020page .legrand-poster-download .legrand-download-row a {
    outline: none;
    border: 0;
    width: 100%;
    padding: 0.8rem 1.25rem;
    border-radius: 40px;
    font-size: 1.25rem;
    text-decoration: none;
    color: #FFF;
    background-color: #C00; }
    .page-legrandrewards2020page .legrand-poster-download .legrand-download-row a:hover {
      text-decoration: inherit;
      background-color: #222; }
  .page-legrandrewards2020page .legrand-poster-download .legrand-download-row img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px; }
  @media (max-width: 767px) {
    .page-legrandrewards2020page .legrand-poster-download .legrand-download-row a {
      display: inline-block; } }
