@charset "UTF-8";

/*========== TEMP HIDE ELEMENTS ==========*/

/* Temporary ASM z-index */
#_asm {
  z-index: 99999999;
}
/* Temp hide Due for payment now in dashboard -> statements */
.page-account-Statements .stats .stats-block:first-child {
  display: none;
}
/* hide pdp dimensions*/
.scaffoldProductDisplaySpecsDimensions {
  display: none !important;
}
/* hide my company tiles */
.module-company-blocks .IconTiles .Tile:nth-child(1),
.module-company-blocks .IconTiles .Tile:nth-child(2),
.module-company-blocks .IconTiles .Tile:nth-child(3),
.module-company-blocks .IconTiles .Tile:nth-child(6) {
  display: none;
}
/* hide status from my-account various */
.order-history-container .table-orders table thead tr th:last-child {
  display: none;
}
.order-history-container .table-orders table tbody tr td:nth-child(5),
.order-history-container .table-orders table tbody tr td:last-child {
  display: none;
}
.my-account-container .table-recent-orders table thead th:last-child {
  display: none;
}

.my-account-container .table-recent-orders table tbody tr td[data-column="Status"] {
  display: none;
}

/*========== MAINTENANCE BANNER ==========*/

.sap-maintenance-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100000000000;
  padding: 1.2rem 2rem;
  background: #fff;
  font-size: 1.05rem;
  line-height: 1.8rem;
  box-shadow: 0 0 10px #eee;
  border: 2px solid #eee;
  text-align: center;
}

@media (max-width: 767px) {
  .sap-maintenance-banner {
    padding-bottom: 7rem;
  }
}

.sap-maintenance-banner strong {
  font-weight: bold;
}

.sap-maintenance-banner a {
  color: #c00;
  font-weight: 600;
}

.sap-maintenance-banner::after {
  content: "\02715";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 25px;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 50%;
  background: #fff;
}

/*=== Global Page Template Fixes ===*/

.pagination-account {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset !important;
}

.pagination-bar-results {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  font-weight: 800;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.pagination-bar {
  margin: 0 auto;
  max-width: 700px;
  overflow: unset !important;
}

.cust-sortby {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cust-sortby > div {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 2%;
  margin-bottom: 2rem;
}

.cust-sortby > div:nth-child(1) {
  order: 1;
}

.cust-sortby > div:nth-child(2) {
  order: 2;
}

.cust-sortby > div:nth-child(3) {
  order: 3;
}

@media (min-width: 320px) {
  .cust-sortby > div {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .cust-sortby > .form-group {
    width: 46%;
  }
}

.cust-sortby .form-group .control-label {
  max-width: unset !important;
}

.cust-sortby .form-group label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}

.sort-refine-bar {
  display: unset !important;
  flex-direction: unset !important;
  padding-left: unset !important;
}

.sort-refine-bar .form-group {
  flex: unset !important;
  display: unset !important;
  flex-direction: unset !important;
}

.sort-refine-bar form {
  max-width: unset !important;
  float: none !important;
}

.search-pagination {
  margin: 0 auto;
  max-width: 800px;
}

.search-pagination select {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 15px;
  width: 100%;
  max-width: 100% !important;
  outline: none;
}

.pagination {
  justify-content: center !important;
}

.pagination li.first a::before {
  content: "\00AB";
}

.pagination li.prev a::before {
  content: "\2039";
}

.pagination li.next a::before {
  content: "\203A";
}

.pagination li.last a::before {
  content: "\00BB";
}

.pagination li strong {
  color: #222;
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #eee;
}

.addressList .addressEntry {
  flex-wrap: wrap;
}

.checkout-delivery-date-error {
  display: block;
  color: #c00;
}

.page-singleStepCheckoutSummaryPage button.disabled {
  pointer-events: none;
  background-color: #eee !important;
  opacity: 0.5;
}

ul.pagination {
  margin: 10px 0 !important;
}

.page-storefinderPage .store__finder--navigation input:checked + .js-select-store-label span {
  color: #fff;
}

/*=== ERP Iframe Fixes ===*/

.iframeWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.page-erpintegrationpage .container {
  min-width: 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  .iframeWrapper {
    min-width: 50vh;
  }
}

/* SHERRIFF CLIPSAL CLICK FRENZY STYLES */
.ccf-wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  padding: 1.25rem;
  --ccf-grey: #eee;
  --ccf-dark-grey: #ccc;
  --ccf-red: #c00;
  --ccf-white: #fff;
  --ccf-black: #000;
  --ccf-yellow: #ffde00;

  --default-padding: 1rem;
  --default-border-radius: 5px;

  --transition-fastest: 0.2s;
  --transition-fast: 0.4s;
  --transition-medium: 0.7s;
  --transition-slow: 1s;

  --button-padding: 12px 25px;
}
.ccf-customer-form input[type="text"] {
  outline: none;
  border: 1px solid var(--ccf-dark-grey);
  padding: 12px 25px;
  border-radius: var(--default-border-radius);
  font-size: 1.3rem;
  display: inline-block;
  width: 100%;
  background: var(--ccf-white);
}
.ccf-customer-form input[type="text"]:focus {
  background: var(--ccf-grey);
}
.ccf-customer-form .hide-buttons {
  display: none !important;
}
.ccf-customer-form .customer-name {
  position: sticky;
  top: 0;
}
.customer-name .data-name {
  font-size: 14px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: calc(var(--default-padding) * 0.5) 0;
  color: var(--ccf-black);
  background: var(--ccf-yellow);
  border-radius: var(--default-border-radius);
  border: 1px solid var(--ccf-dark-grey);
}
.customer-data {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .customer-data {
    max-height: 400px;
  }
}
.customer-data .data-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
}
.customer-data .data-row:nth-of-type(odd) {
  background: var(--ccf-grey);
}
.customer-data .data-row > strong,
.customer-data .data-row > span {
  padding: 3px 0;
}
.customer-data .data-line {
  border: 1px solid var(--ccf-grey);
  margin: calc(var(--default-padding) * 0.4) 0;
}
.customer-data .data-line .entry {
  color: var(--ccf-red);
  font-weight: bold;
}
.customer-monthly-entries div {
  display: grid;
  place-items: center;
  border: 1px solid var(--ccf-dark-grey);
  border-radius: var(--default-border-radius);
  padding: var(--default-padding);
}
.customer-monthly-entries div p,
.customer-monthly-entries div small {
  margin-bottom: var(--default-padding);
  line-height: 1.5;
}
.ccf-customer-form .customer-monthly-entries div small {
  color: var(--ccf-red);
}
.ccf-customer-form .customer-monthly-entries div small sup {
  position: relative;
  top: calc(var(--default-padding) * 0.3);
}
.ccf-customer-form .form-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(var(--default-padding) * 0.4) 0;
}
.ccf-customer-form .form-buttons button {
  user-select: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  padding: var(--button-padding);
  margin: calc(var(--default-padding) * 0.45);
  font-size: 14px;
  color: var(--ccf-black);
  background: var(--ccf-yellow);
  border: 1px solid var(--ccf-dark-grey);
  transition: var(--transition-fastest) cubic-bezier(0.88, 0.04, 0, 0.97);
}
@media (min-width: 650px) {
  .form-buttons button {
    width: unset;
  }
}
.ccf-customer-form .form-buttons button:hover {
  color: var(--ccf-yellow);
  background: var(--ccf-black);
}
.ccf-customer-form .hide-ccf-form {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition-fast);
}
.ccf-customer-form .hide-ccf-form + div {
  display: none;
}
.ccf-wrapper label {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  margin-bottom: calc(var(--default-border-radius) * 0.5);
}
.ccf-wrapper .form-number {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.ccf-wrapper .form-row {
  margin: calc(var(--default-padding)) 0;
}
.ccf-wrapper .form-number > label,
.ccf-wrapper .form-number > input {
  flex: 1 0 auto;
  width: 100%;
}
.ccf-wrapper .form-number > label {
  max-width: 70%;
}
.ccf-wrapper .form-number > input {
  max-width: 30%;
}
.ccf-wrapper input[type="number"],
.ccf-wrapper select {
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  padding: calc(var(--default-border-radius) * 2);
  border: 1px solid var(--ccf-dark-grey);
  border-radius: var(--default-border-radius);
  font-size: 1rem;
}
.ccf-wrapper .form-select {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ccf-wrapper .form-select > label,
.ccf-wrapper .form-select > select {
  flex: 1 0 auto;
  width: 100%;
  max-width: 50%;
}
.ccf-redeem-form input[type="text"] {
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: var(--ccf-grey);
}
.ccf-redeem-form input[name="account_contact_number"] {
  background: #fff !important;
}
.ccf-alert p {
  padding: 24px;
  border: 1px solid var(--ccf-grey);
  border-radius: 0.5rem;
  background: var(--ccf-yellow);
}
.ccf-alert span {
  font-weight: bold;
}

/* NEW EXPERIENCE LAUNCH PAGE CSS */
.pageLabel-new-experience #breadcrumb,
.page-newexperiencepage #breadcrumb {
  display: none;
}
.pageLabel-new-experience .main__inner-wrapper,
.page-newexperiencepage .main__inner-wrapper {
  padding: unset;
  max-width: 100%;
}
.page-newexperiencepage .mySwiperLaunchPage {
  user-select: none;
}
.page-newexperiencepage .mySwiperLaunchPage img {
  width: 100%;
  height: 250px;
  object-fit: cover !important;
  object-position: bottom left;
}
.page-newexperiencepage .mySwiperLaunchPage .swiper-launch-block-text {
  min-height: 150px;
}
.landingPageLaunch .scaffoldLandingPageWrapper .scaffoldLandingPageRow {
  padding: 5rem 1.2rem;
}
.landingPageLaunch .scaffoldLandingPageWrapper .scaffoldLandingPageRow:first-child {
  padding: 0;
}
.landingPageLaunch .scaffoldLandingPageWrapper .scaffoldLandingPageRow:nth-child(2) {
  padding-bottom: 1.2rem !important;
}
.scaffoldLandingPage {
  background-color: #333;
  color: #fff;
}
.scaffoldLandingPageWrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}
.scaffoldLandingPageRow {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
}
.scaffoldLandingPage .integrationTitle {
  font-size: 36px;
  line-height: 32px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.scaffoldLandingPage .integrationTitle span {
  color: #c41230;
}
@media only screen and (min-width: 768px) {
  .scaffoldLandingPage .integrationTitle {
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -1px;
  }
}
.scaffoldLandingPage .integrationText {
  font-size: 18px;
  line-height: 26px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  text-transform: uppercase;
  gap: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 14);
  color: rgb(189, 189, 189);
  margin-bottom: 4rem;
  letter-spacing: 1px;
}
.scaffoldLandingPage .integrationText strong {
  font-weight: 600;
  color: #c41230;
  color: #eee;
}
@media only screen and (min-width: 768px) {
  .scaffoldLandingPage .integrationText {
    max-width: 60%;
  }
}
.scaffoldLandingPage .integrationHeroText {
  display: flex;
  flex-direction: column;
  gap: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 14);
  margin: auto;
  max-width: 100vw;
  text-align: center;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper {
  padding-right: 1px;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide {
  min-height: 30vh;
  border-radius: 1.2rem;
  border: solid 1px #aaa !important;
  background-color: transparent !important;
  display: flex;
  overflow: hidden;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide .swiper-launch-block {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide .swiper-launch-block .swiper-launch-block-text {
  flex: 1;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide .swiper-launch-block .swiper-launch-block-text .title {
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-size: 18px;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide .swiper-launch-block .swiper-launch-block-text .description {
  font-weight: 200;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide .swiper-launch-block .swiper-launch-block-img {
  flex: 1;
}
.scaffoldLandingPage .integrationHeroText .integrationCarousel .swiper .swiper-slide .swiper-launch-block .swiper-launch-block-img img {
  max-width: 100%;
  min-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.scaffoldLandingPage .integrationActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scaffoldLandingPage .integrationActions a:not(:last-child) {
  margin-bottom: 6px;
}
.scaffoldLandingPage .integrationActions a::after {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .scaffoldLandingPage .integrationActions {
    flex-direction: row;
  }

  .scaffoldLandingPage .integrationActions a:not(:last-child) {
    margin-right: 1.2rem;
    margin-bottom: 0;
  }
}
.scaffoldLandingPage .integrationFooter {
  display: flex;
  flex-direction: column;
  gap: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 14);
  margin: auto;
  max-width: 100vw;
  text-align: center;
}
.scaffoldLandingPage .integrationFooter .integrationText {
  margin-bottom: 1rem;
}
.scaffoldLandingPage .integrationBanner img,
.scaffoldLandingPage .integrationBanner video {
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.scaffoldLandingPage .integrationBanner img.desktop,
.scaffoldLandingPage .integrationBanner video.desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .scaffoldLandingPage .integrationBanner img.desktop,
  .scaffoldLandingPage .integrationBanner video.desktop {
    display: block;
  }
}
.scaffoldLandingPage .integrationBanner img.mobile,
.scaffoldLandingPage .integrationBanner video.mobile {
  display: block;
}
@media only screen and (min-width: 768px) {
  .scaffoldLandingPage .integrationBanner img.mobile,
  .scaffoldLandingPage .integrationBanner video.mobile {
    display: none;
  }
}
.scaffoldLandingPage .integrationLogos {
  display: flex;
  flex-direction: column;
  gap: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 14);
  margin: auto;
  max-width: 100vw;
  text-align: center;
  padding-bottom: 2rem;
  position: relative;
}
.scaffoldLandingPage .integrationLogos .marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 14);
  -webkit-mask-image: linear-gradient(var(--mask-direction, to right), hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
  mask-image: linear-gradient(var(--mask-direction, to right), hsla(0deg, 0%, 0%, 0), hsl(0deg, 0%, 0%) 20%, hsl(0deg, 0%, 0%) 80%, hsla(0deg, 0%, 0%, 0));
}
.scaffoldLandingPage .integrationLogos .marquee img {
  display: grid;
  place-items: center;
  width: clamp(6rem, 1rem + 25vmin, 25rem);
  background: #eee;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
  object-fit: contain;
  padding: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 10);
  border-radius: 1.2rem;
  pointer-events: none;
}
.scaffoldLandingPage .integrationLogos .marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: calc(clamp(6rem, 1rem + 25vmin, 25rem) / 14);
  min-width: 100%;
  -webkit-animation: scroll-x 60s linear infinite;
  animation: scroll-x 60s linear infinite;
}
.scaffoldLandingPage .integrationLogos .integrationCTA {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
@-webkit-keyframes scroll-x {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - clamp(6rem, 1rem + 25vmin, 25rem) / 14));
  }
}
@keyframes scroll-x {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - clamp(6rem, 1rem + 25vmin, 25rem) / 14));
  }
}

/*==== Electrical PCN Styles ====*/
.pcn {
  width: 100%;
  padding-bottom: 3rem;
  background-color: #eee;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
.pcn .pcn-hero {
  order: 1;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  transform: skewY(-5deg) translateY(-10vh) scale(2);
  position: relative;
  z-index: -1;
}
.pcn .pcn-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  background-image: -moz-linear-gradient(rgba(255, 195, 113, 0.5), rgba(0, 0, 0, 0.2)), url("../img/price-increase.jpg");
  background-image: linear-gradient(rgba(255, 195, 113, 0.5), rgba(0, 0, 0, 0.2)), url("../img/price-increase.jpg");
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  transform: skewY(5deg) scale(2.5);
  z-index: -1;
}
.pcn .pcn-content-wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 1300px;
}
.pcn .pcn-content-wrapper > div {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 30px #ccc;
}
.pcn .pcn-content-wrapper .pcn-excerpt p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
}
.pcn .pcn-content-wrapper .pcn-data > div {
  margin: 10px 0;
}
.pcn .pcn-content-wrapper .pcn-data > div > span {
  cursor: pointer;
  user-select: none;
  display: inline-block;
  width: 100%;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 40px;
  color: #fff;
  background-image: linear-gradient(45deg, #222, #c00);
  position: relative;
}
.pcn .pcn-content-wrapper .pcn-data > div > span::after {
  content: "\02014";
  position: absolute;
  right: calc(2rem - 10px);
}
.pcn .pcn-content-wrapper .pcn-data > div > span:hover {
  background-image: linear-gradient(45deg, #c00, #222);
}
.pcn .pcn-content-wrapper .pcn-data > div > span.pcn-collapsed::after {
  content: "\002B";
}
.pcn .pcn-content-wrapper .pcn-data > div > span.pcn-collapsed + .pcn-content {
  max-height: 0;
  transition: max-height 0.8s ease-in-out;
}
.pcn .pcn-content-wrapper .pcn-graph img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.pcn .pcn-content-wrapper .pcn-content {
  counter-reset: pcn-list;
  max-height: initial;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.pcn .pcn-content-wrapper .pcn-content a {
  display: inline-block;
  color: #c00;
  margin: 5px 0;
  position: relative;
  line-height: 1.5rem;
  text-indent: 0;
  transition: text-indent 0.75s ease;
  position: relative;
}
.pcn .pcn-content-wrapper .pcn-content a::before {
  counter-increment: pcn-list;
  content: "" counter(pcn-list) "";
  display: inline-block;
  font-size: 80%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  color: #fff;
  background-image: linear-gradient(45deg, #222, #c00);
}
.pcn .pcn-content-wrapper .pcn-content a:hover {
  text-indent: 10px;
}
@media (min-width: 767px) {
  .pcn .pcn-content-wrapper {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    column-gap: 20px;
  }
}
