#samBody{
    .my-favourites-container{
        .cust-wishlist{
            align-items: unset !important;
        }
    }
}
.my-favourites-container{
    #createWish,
    #changeWish{
        .control{
            margin: 0 auto;
            width: 100%;
            max-width: 97%;
        }
    }
    .newDefaultwishlistName{
        margin-right: unset;
    }
    button[disabled]{
        cursor: not-allowed;
        opacity: 0.75;
        color: #222 !important;
        background-color: #EEE;
    }
    .grid-add-basket{
        input{
            min-width: max-content !important;
            max-width: max-content !important;
        }
    }
}
@media (max-width: 1399px){
    .manage-my-favourites-container{
       .fav-prodname-pricing{
          .fav-prodImage{ width: 20%; } 
          .fav-prodData{ width: 80%; }
          .cust-wishlist{ 
              width: 100%; 
          }
       }
    }
}
@media (max-width: 767px){
    .manage-my-favourites-container{
        #listSelect{
            #destWishlistName{ 
                width: 100%; 
                margin: 0 auto;
                max-width: 95%;
                display: block;
            }
        }
    }
} 