/*=== Global Page Template Fixes ===*/
.cust-inner-wrapper{
    .container{
        .row{
            > div{ width: 100%; }
        }   
    }
}
.breadcrumb{
    @media (max-width: 767px){
        li{
            width: 100%;
            margin: 5px 0;
            font-size: 1.25rem;   
            &::before{ content: unset !important; }
        }
    }
}
.pagination-account{
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: unset !important;
}
.pagination-bar-results{
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    font-weight: 800;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.pagination-bar {
    margin: 0 auto;
    max-width: 700px;
    overflow: unset !important;
}
.cust-print{ display: none; }
.cust-sortby {
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > div {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 2%;
        margin-bottom: 2rem;
        &:nth-child(1){ order: 1; }
        &:nth-child(2){ order: 2; }
        &:nth-child(3){ order: 3; }
    }
    @media (min-width: 320px){
        > div { width: 100%; }
    }
    @media (min-width: 767px){
        > .form-group{ width: 46%; }
    }
    .form-group{
        .control-label{
            max-width: unset !important;
        }
        label{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.9rem;            
        }
    }
}
.sort-refine-bar{
    display: unset !important;
    flex-direction: unset !important;
    padding-left: unset !important;
    .form-group{
        flex: unset !important;
        display: unset !important;
        flex-direction: unset !important;
    }
    form{
        max-width: unset !important;
        float: none !important;
    }
}
.search-pagination{
    margin: 0 auto;
    max-width: 800px;
    select{
        border: 1px solid #CCC;
        display: inline-block;
        padding: 6px 15px;
        width: 100%;
        max-width: 100% !important;
        outline: none;
    }
}
.pagination{
    justify-content: center !important;
    li.first{
        a::before{ content: "\00AB"; }
    }
    li.prev{
        a::before{ content: "\2039"; }
    }
    li.next{
        a::before{ content: "\203A"; }
    }
    li.last{
        a::before{ content: "\00BB"; }
    }
    li{
        strong{
            color: #222;
            display: inline-block;
            width: 38px;
            height: 38px;
            line-height: 2.5rem;
            border-radius: 10px;
            border: 1px solid #CCC;
            text-align: center;
            background-color: #EEE;
        }
    }
}
ul.pagination{ margin: 10px 0 !important; }
.dropdown-menuser{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    .counts{
        display: inline-block;
        text-align: center;
        width: 100%;
        padding: 5px 15px;
        font-size: 18px;
        line-height: 1.4em;
        font-weight: normal;
        transition: box-shadow 400ms, color 400ms, background-color 400ms;
        border: 1px solid #dedede;
        min-width: 240px;
        -webkit-appearance: none;
    }
    .dropdown-number{
        display: -ms-flex;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        border-left: 1px solid #EEE;
        border-right: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0 0 3px #eee;
        position: absolute;
        width: 100%;
        z-index: 100;
        a{
            color: #333;
            font-weight: 400;
            display: none;
            -ms-flex: 1;
            flex: 1;
            width: 100%;
            padding: 5px;
            font-size: 18px;
            text-decoration: none;
            border-bottom: 1px solid #EEE;     
            &:hover{
                color: #C00 !important;
                text-decoration: inherit;
                background-color: #EEE;
            }       
        }
        a.open{ display: inline-block; }
    }
}
/*=== My Account | Samios Favourites Patch CSS ===*/
#samBody{
    .my-favourites-container{
        .cust-wishlist{
            align-items: unset !important;
        }
    }
}
/*=== My Account | Favourites Patch CSS ===*/
.my-favourites-container{
    #createWish,
    #changeWish{
        .control{
            margin: 0 auto;
            width: 100%;
            max-width: 97%;
        }
    }
    .newDefaultwishlistName{
        margin-right: unset;
    }
    button[disabled]{
        cursor: not-allowed;
        opacity: 0.75;
        color: #222 !important;
        background-color: #EEE;
    }
    .grid-add-basket{
        input{
            min-width: max-content !important;
            max-width: max-content !important;
        }
    }
    .ui-sortable-helper{
        border: 1px dashed #C00;
        background-color: #FFF;
    }
    .delete-fav-button{
        text-decoration: none !important;
        color: #C00 !important;
        font-size: 1rem;
        font-weight: bold !important;
        &:hover{ text-decoration: inherit !important; }
    }
    .select-fav-list-loading-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.5 rem;
        background-color: #FFF;
        z-index: 1000;
        p{
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;
            span{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
    #listSelect{
        @media (min-width: 1025px){
            .table-body{
                position: relative;
                max-height: 700px;
                overflow: hidden;
                overflow-y: scroll;
                &::-webkit-scrollbar{ 
                    width: 5px; 
                }
                &::-webkit-scrollbar-thumb{
                    background: #C00;
                }
            }
        }
        .fav-list-search-filter{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 100;
        }
        .grid-remove-button{
            button{
                svg{
                    display: block;
                    margin: 0 auto; 
                }
            }
        }
    }
    .table-body{
        .list__Header{
            border-bottom: 1px solid #EEE;
            box-shadow: 0 4px 2px -2px #EEE;
            background-color: #FFF !important;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 100;
        }
        .move-to-list{ display: none; }
    }
    @media (max-width: 1024px){
        .fav-grid-container{
            .listProdDetails{
                padding: 1.5rem;
            }
        }
    } 
    @media (max-width: 767px){
        .cust-wishlist{
            margin-left: unset !important;
            margin-right: unset !important;
            padding: 0 0.85rem;
        }
        .my-fav-pricing{
            .grid-add-basket{
                flex-wrap: wrap;
                input[type="number"],
                button{
                    flex: 1 0 auto;
                    width: 100%;
                    margin-bottom: 15px;
                }
            }   
        }
    }
}
@media (max-width: 1399px){
    .manage-my-favourites-container{
       .fav-prodname-pricing{
          .fav-prodImage{ width: 20%; } 
          .fav-prodData{ width: 80%; }
          .cust-wishlist{ 
              width: 100%; 
          }
       }
    }
}
@media (max-width: 767px){
    .manage-my-favourites-container{
        #listSelect{
            #destWishlistName{ 
                width: 100%; 
                margin: 0 auto;
                max-width: 95%;
                display: block;
            }
        }
    }
} 
/*=== My Account | Invoice Patch CSS ===*/
.module-search-split{
    .module-search-split-left{
        form{
            .form-group{
                min-width: max-content;
                max-width: max-content;
            }
        }
    }
}
.viewpay-invoices-container{
    .module-search{
        #searchInvoices{ display:none; }
    }
}
/*=== My Account | Historical Invoice Patch CSS ===*/
.historical-invoices-container{
    .module-half{
        max-width: 100% !important;
        @media (min-width: 767px){
            max-width: 650px !important;
        }
        input[type="text"]{
            width: 100%;
        }
    }
} 

/*=== Colouring Competition CSS Styles ===*/
#cnwBody{
    .coloring-competition{
        --baseColorComp: #C00;
        .coloring-sub-header{
            span{ color: var(--baseColorComp); }
        }
        .entries-close-content{
            background: url('https://shop.cnw.com.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aDcwL2gxMS85Njc2MzA3MTY5MzEwL2VudHJpZXMtY2xvc2UucG5nfGExYmRkMzYxOGMyZmNlMzQ3ZDc5MmY1MjExOTdkNTUwZGIzMDY3YWY3YmIwNWYwNTljNmYwODU1ZjU4MWRkY2E') no-repeat center;
        }
    }  
}
#samBody{
    .coloring-competition{
        --baseColorComp: #EE2E34; 
        .coloring-sub-header{
            span{ color: var(--baseColorComp); }
        }
        .entries-close-content{
            background: url('https://shop.samios.net.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aGY2L2gwYS85Njc2MzA3MzMzMTUwL2VudHJpZXMtY2xvc2UucG5nfDk1YzE3ZDc3MDQwOGU2OWRhNzNkNTNiYmNhOGQ1NzNhZTI0MmZiN2VkOTU3MGVkMzgxNTA4ZDc1OGZkNTNmYzc') no-repeat center;
        }
    }
}
#sheBody{
    .coloring-competition{
        --baseColorComp: #FED104;
    }
    .entries-close-content{
        background: url('https://shop.sherriff.com.au/medias/entries-close.png?context=bWFzdGVyfGltYWdlc3w2OTQ2N3xpbWFnZS9wbmd8aDM5L2gwNC85Njc2MzA3NTI5NzU4L2VudHJpZXMtY2xvc2UucG5nfGNkOGYyMmM1ZjI4M2RlYzc4OTdmZTQyMmNkZDg1NzRlODZhMmFkYjBjOGIwNjhiMjMzYTZmMTQ0YmFiZjZhMWQ') no-repeat center;
    }
}
.coloring-competition{

    --ccblue: #34568B;
    --cccoral: #FF6F61;
    --ccviolet: #6B5B95;
    --ccgreenery: #88B04B;
    --ccaqua: #7FCDCD;
    --ccbuttercream: #EFE1CE;
    --ccgold: #D4AF37;
    --ccsilver: #D3D3D3; 
    --ccbronze: #CD7F32;

    display: -ms-flex; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 10rem;
    sup{
        font-size: 14px;
        position: relative;
        top: -10px;
        margin: 0 2px;
    }
    li{
        list-style: none; 
        list-style-type: none;
        line-height: 30px; 
        margin-bottom: 15px;
    }
    a{ 
        color: #C00; 
        text-decoration: none;
        &:hover{
            text-decoration: inherit;
        }
    }
    .text-red{ 
        text-align: center;
        color: var(--baseColorComp); 
    }
    @media (min-width: 767px){
        padding: 5rem;
        max-width: 1300px;
        padding-bottom: 10rem;
    }
    .coloring-left,
    .coloring-right,
    .coloring-bottom{
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        margin: 1.25rem 0;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        > div { 
            padding: 1.25rem;
            margin: 1.25rem 0; 
            position: relative;
            top: 0;
            -webkit-transition: 0.8s ease;
            transition: 0.8s ease;
        }
        @media (min-width: 1025px){
            > div {
                &:hover{ top: -1rem; }
            }
        }
    }
    @media (min-width: 1023px){
        .coloring-left,
        .coloring-right{ 
            width: 48%;
            margin: 1%; 
        }
    }
    .coloring-left{
        order: 1;
    }
    .coloring-right{
        order: 2;
    }
    .coloring-bottom{
        order: 3;
    }
    .coloring-logo{
        img{
            display: block;
            margin: 0 auto;
            width: 300px;
            height: 300px;
            object-fit: contain; 
            object-position: center;            
        }
    }
    .coloring-table{
        padding: 0;
        border: 40px;
    }
    .coloring-table-row{
        display: -ms-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
        border-left: 1px solid #EEE;
        border-right: 1px solid #EEE;
        &:nth-child(1){
            background-color: var(--baseColorComp) !important;
            span{ color: #FFF; }
        }
        &:nth-of-type(even){
            background-color: #EEE;
        }
        span{
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            width: 100%;
            padding: 5px;
            border-bottom: 1px solid #CCC;
        }
        @media (min-width: 640px){
            span{ width: 50%; }
        }
    }
    .coloring-sub-header{
        span{
            display: inline-block;
            width: 100%;
            margin: 20px 0;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .coloring-enter,
    .coloring-prize-details,
    .coloring-prizes,
    .coloring-age-groups,
    .coloring-major-prize-draw{
        border: 1px solid #CCC;
        border-radius: 1rem;
        box-shadow: 0 0 20px #EEE;
    }
    .coloring-enter,
    .coloring-prizes,
    .coloring-major-prize-draw{
        background-color: rgba(#EFE1CE, 0.2);
    }
    .coloring-prizes{
        p{
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;            
        }
        img{
            display: block;
            margin: 0 auto;
            width: 300px;
            height: 300px;
            object-fit: cover;
            object-position: center;
        }
        li{
            text-align: center;
            &:nth-child(1){
                span{
                    &:nth-child(1){
                        background-color: var(--ccgold);
                    }
                }
            }
            &:nth-child(2){
                span{
                    &:nth-child(1){
                        background-color: var(--ccsilver);
                    }
                }
            }
            &:nth-child(3){
                span{
                    &:nth-child(1){
                        background-color: var(--ccbronze);
                    }
                }
            }
            span{
                display: inline-block;
                text-align: center;
                margin-bottom: 5px;
                &:nth-of-type(odd){
                    font-size: 1.8rem;
                    border-radius: 40px;
                    padding: 10px 20px;
                }
                &:nth-of-type(even){ font-size: 1.35rem; }
            }
        }
    }
    .coloring-bottom{
        ul{
            display: -ms-flex;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
                width: 100%;
                margin: 20px 0;       
                text-align: center;
                padding: 10px 0;
                border-radius: 40px; 
                color: #FFF;
                box-shadow: 0 0 10px #CCC;
                &:nth-child(1){
                    background-image: linear-gradient(45deg, var(--ccblue), var(--baseColorComp));
                }
                &:nth-child(2){
                    background-image: linear-gradient(45deg, var(--cccoral), var(--baseColorComp));
                }
                &:nth-child(3){
                    background-image: linear-gradient(45deg, var(--ccviolet), var(--baseColorComp));
                }
                &:nth-child(4){
                    background-image: linear-gradient(45deg, var(--ccgreenery), var(--baseColorComp));
                }
                &:nth-child(5){
                    background-image: linear-gradient(45deg, var(--ccaqua), var(--baseColorComp));
                }
                span{
                    display: inline-block;
                    width: 100%;
                    &:nth-of-type(1){ font-size: 30px; }
                }      
            }
            @media (min-width: 1024px){
                li{  
                    width: 18%;
                    margin: 1%;                
                }
            }   
        }
    }
    .coloring-major-prize-draw{
        p{ text-align: center; }
        .coloring-button{
            text-align: center;
            margin: 1.35rem 0;
            a{
                display: inline-block;
                padding: 10px 20px;
                border-radius: 40px;
                color: #FFF;
                background-color: var(--baseColorComp);
                &:hover{
                    color: #FFF;
                    background-color: #222;
                }
            }
        }
        .entries-close-content{
            width: 260px;
            height: 200px;
            padding-top: 3rem;
            position: absolute;
            bottom: -65%;
            right: 0;
            color: #FFF;   
            background-size: contain !important;   
            z-index: 100;
            p{
                font-size: 70%;
                position: relative;
                line-height: 2.25rem;
                &:before{
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    max-width: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }
                &:nth-child(1){
                    &::before{
                        border-top: 2px dashed #FFF;
                    }
                }
                &:nth-child(3){
                    &::before{
                        border-bottom: 2px dashed #FFF;
                    }
                }
            }
        }
        @media (min-width: 1200px){
            .entries-close-content{
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }
}

/*=== Product Grid | Search Page ===*/
.cust-plp-grid{
    flex-direction: unset !important;
    flex: unset !important;
    .plp-grid-left,
    .plp-grid-right{
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
    @media (min-width: 767px){
        .plp-grid-left{ width: 25%; }
        .plp-grid-right{ width: 75%; }
    }
}
@media (max-width: 767px){
    .cust-plp-grid{ padding: 10px; }
}

/*=== Product Facets | Refinement | Global Styles ===*/
#sheBody{
    .pdppage{
        .shop-by-button,
        span.facet_link{
            &::after{
                line-height: 3rem;
            }
        }
    }
}
#samBody{
    .pdppage{
        .shop-by-button,
        span.facet_link{
            &::after{
                line-height: 3.5rem;
            }
        }
    }
}
.pdppage{
    $shopButtonWhite: #FFFFFF;
    $shopButtonBlue: #0099FF;
    $shopButtonBlack: #222222;
    $facetLightGrey: #F5F5F5;
    $facetMediumGrey: #EEEEEE;
    $facetDarkGrey: #CCCCCC;
    $facetRed: #C00000;
    $facetLightBlack: #444444;

    $max-tablet-width: 767px;
    $max-table-width-1024: 1024px;
    $min-desktop-width: 1200px;

    .product__facet{
        .facet{ border-bottom: unset !important; }
        .facet__name{
            font-size: 18px;
            text-transform: capitalize;
            color: #444;
            margin: 1px;
            background-color: #F2F3F4 !important;
            position: relative;
            z-index: 1;
        }
        .shop-by-button{
            user-select: none;
            cursor: pointer;
            outline: none;
            border: 0;
            display: inline-block;
            padding: 0.8rem 1rem;
            color: $shopButtonWhite;
            background-color: $shopButtonBlue;
            width: 100%;
            border-radius: 5px;
            text-align: center;
            margin: 20px 0;
            text-transform: uppercase;
            text-decoration: none;
            position: relative;
            z-index: 1;
            &::after{
                content: '\002B';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: right;
                line-height: 2.6rem;
                font-size: 1.5rem;
                padding: 0 0.85rem;
                z-index: -1;
            }
            &:hover{
                background-color: $shopButtonBlack;
            }
        }
        @media (min-width: $max-tablet-width){
            .shop-by-button{ display: none !important; }
        }
        .facet-wrapper{
            position: relative;
            margin-bottom: 2rem;           
        }
        @media (max-width: $max-tablet-width){
            .facet-wrapper{ 
                max-height: 0;
                overflow: hidden;
                -webkit-transition: max-height 0.2s ease-out;        
                transition: max-height 0.2s ease-out;                 
            }
            .collapse{ display: block; }
        }
        span.facet_link{
            color: $facetLightBlack;
            display: inline-block;
            width: 100%;
            position: relative;
            padding: 10px 15px;   
            word-wrap: break-word;         
            &::after{
                content: '\002B';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: right;
                line-height: 2.6rem;
                font-size: 1.5rem;
                padding: 0 0.85rem;
                color: $facetLightBlack;              
            }
        }
        span.facet_link.slide-down{
            &::after{
                content: '\02212';
            }
        }
        .facet__list{
            @media (max-width: $max-table-width-1024){
                li{ margin-bottom: 1.25rem; }
            }
        }
        .facet__text {
            display: -ms-flex;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid rgba($facetMediumGrey, 0.2);
            a,
            .facet__value__count{
                -ms-flex: 1 0 auto;
                flex: 1 0 auto;
                height: 1.85rem;
                padding: 0.5rem 0.45rem;
                user-select: none;
            }
            a{ 
                width: 90%; 
                text-indent: 0;
                -webkit-transition: 0.25s ease;
                transition: 0.25s ease;
                &:hover{
                    color: $facetRed;
                    text-indent: 5px;
                }
            }
            .facet__value__count{
                width: 10%;
                text-align: right;
                font-size: 75%;
                font-weight: 800;
                color: $facetRed;
            }
        }

        .applied-facets{
            margin-bottom: 3rem;
            .facet__name {
                padding: 10px 15px;
                margin-bottom: 0.5rem;
                background-color: $facetLightGrey;
            }
            .facet__list{ padding-left: 1.25rem; }
        }

        .headline{
            display: inline-block;
            color: #444;
            width: 100%;
            position: relative;
            padding: 10px 15px;
            background-color: #F2F3F4;            
        }
    }

    @media (min-width: $min-desktop-width){
        .product__facet{ max-width: 95%; }
    }
}

/*==== News and Promotion Storefront and styles ====*/
[class*="-news-promo"]{
    $newsWhite: #FFFFFF;
    $newsRed: #CC0000;
    $newsBlack: #222222;
    $newsGrey: #EEEEEE;
    $newsLightGrey: #F5F5F5;
    $newsMediumGrey: #CCCCCC;

    width: 100%;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    .news-card{
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        img{
            display: block;
            margin: 0 auto;
            width: 100%;
        }
        &:nth-of-type(1),
        &:nth-of-type(2){
            width: 50%;
            background-color: $newsBlack;
            .news-card-content{
                width: 100%;
                max-width: 95%;
                margin: 0 auto;
                position: relative;
                top: -2rem;
                padding: 20px;
                border: 1px solid $newsLightGrey;
                background-color: $newsBlack;
                *{ color: $newsWhite; }
                span{
                    display: inline-block;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    margin-bottom: 20px;
                    text-transform: uppercase;                    
                }
            }
        }
        &:nth-child(n+3){
            width: 33.33%;
            max-width: 450px;
            margin: 10px;
            padding: 20px;
            border: 1px solid $newsLightGrey;
            box-shadow: 0 0 30px -10px $newsMediumGrey;
            transform-style: preserve-3d;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: transform 0.65s ease;
            transition: transform 0.65s ease;
            @media (min-width: 1200px){
                &:hover{
                    -webkit-transform: scale(0.99);
                    transform: scale(0.99);
                }
            }
            .news-card-content{
                position: relative;
                span{
                    display: inline-block;
                    width: 100%;
                    min-height: 70px;
                    font-size: 1.25rem;
                    line-height: 2rem;
                    padding: 5px 0;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: $newsRed;
                    border-bottom: 1px solid $newsGrey;
                }
                p{
                    font-size: 1.2rem;
                    line-height: 1.75rem;
                    min-height: 110px;
                }
            }
        }
        a{
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 10px 15px;
            border-radius: 40px;
            color: $newsWhite;
            font-size: 1.25rem;
            background-color: $newsRed;
        }
        @media (min-width: 767px){
            a{ width: auto; }
        }        
    }
    @media (max-width: 767px){
        .news-card{
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}