/*=== My Account | Samios Favourites Patch CSS ===*/
#samBody{
    .my-favourites-container{
        .cust-wishlist{
            align-items: unset !important;
        }
    }
}
/*=== My Account | Favourites Patch CSS ===*/
.my-favourites-container{
    #createWish,
    #changeWish{
        .control{
            margin: 0 auto;
            width: 100%;
            max-width: 97%;
        }
    }
    .newDefaultwishlistName{
        margin-right: unset;
    }
    button[disabled]{
        cursor: not-allowed;
        opacity: 0.75;
        color: #222 !important;
        background-color: #EEE;
    }
    .grid-add-basket{
        input{
            min-width: max-content !important;
            max-width: max-content !important;
        }
    }
    .ui-sortable-helper{
        border: 1px dashed #C00;
        background-color: #FFF;
    }
    .delete-fav-button{
        text-decoration: none !important;
        color: #C00 !important;
        font-size: 1rem;
        font-weight: bold !important;
        &:hover{ text-decoration: inherit !important; }
    }
    .select-fav-list-loading-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1.5 rem;
        background-color: #FFF;
        z-index: 1000;
        p{
            display: table;
            table-layout: fixed;
            width: 100%;
            height: 100%;
            span{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
            }
        }
    }
    #listSelect{
        @media (min-width: 1025px){
            .table-body{
                position: relative;
                max-height: 700px;
                overflow: hidden;
                overflow-y: scroll;
                &::-webkit-scrollbar{ 
                    width: 5px; 
                }
                &::-webkit-scrollbar-thumb{
                    background: #C00;
                }
            }
        }
        .fav-list-search-filter{
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 100;
        }
    }
    .table-body{
        .list__Header{
            border-bottom: 1px solid #EEE;
            box-shadow: 0 4px 2px -2px #EEE;
            background-color: #FFF !important;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 100;
        }
        .move-to-list{ display: none; }
    }
}
@media (max-width: 1399px){
    .manage-my-favourites-container{
       .fav-prodname-pricing{
          .fav-prodImage{ width: 20%; } 
          .fav-prodData{ width: 80%; }
          .cust-wishlist{ 
              width: 100%; 
          }
       }
    }
}
@media (max-width: 767px){
    .manage-my-favourites-container{
        #listSelect{
            #destWishlistName{ 
                width: 100%; 
                margin: 0 auto;
                max-width: 95%;
                display: block;
            }
        }
    }
} 
/*=== My Account | Invoice Patch CSS ===*/
.module-search-split{
    .module-search-split-left{
        form{
            .form-group{
                min-width: max-content;
                max-width: max-content;
            }
        }
    }
}
/*=== My Account | Historical Invoice Patch CSS ===*/
.historical-invoices-container{
    .module-half{
        max-width: 100% !important;
        @media (min-width: 767px){
            max-width: 650px !important;
        }
        input[type="text"]{
            width: 100%;
        }
    }
}